.about {
  .process-top {
    background-image: none;
  }

  .description-top__img {
    width: auto;
    height: 5.573vw;
    flex-shrink: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .mobile-btn {
    display: none;
  }

  .description-top {
    justify-content: flex-start;
    gap: 1.563vw;
  }

  .description-top__title {
    margin-bottom: 3vw;
  }

  .description-top__text {
    font-weight: 300;
    font-size: 1.771vw;
    line-height: 2.083vw;
  }

  .description-item {
    height: 100%;
    align-items: stretch;
  }

  .description-left {
    align-items: flex-start;
    width: 14.1vw;
  }

  .description-right {
    justify-content: space-between;

    .btn {
      font-size: 0.833vw;
      line-height: 1.094vw;
      width: 12vw;
      padding: 0.5vw 4.302vw 0.5vw 1.125vw;
    }
  }

  .description-img {
    width: 29.479vw;
    height: auto;
    flex-shrink: 1;
  }
}

//partners
.partners-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4.8vw 7.813vw;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.partners-descr {
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
  max-width: 37.552vw;
}

.partners-btn {
  width: 15vw;
  color: var(--text-black);
  background-color: transparent;
  border-color: var(--gray-color);
  &::after {
    background-color: var(--gray-color);
  }
}

.partners-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.563vw;
}
.partners-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  align-items: center;
  width: 13.958vw;
  height: 7.969vw;
  background-color: var(--light-color);
  border-radius: 6px;
  overflow: hidden;
  img {
    display: block;
    flex-shrink: 0;
    height: 6vw;
    width: 10vw;
    object-fit: contain;
    transform: translateY(70%);
    transition: all 0.3s linear;
  }
}

.partners-img:nth-child(1),
.partners-img:nth-child(5) {
  flex-direction: column;
}

.partners-img:nth-child(2),
.partners-img:nth-child(4) {
  flex-direction: row;
  img {
    transform: translate(65%, 0);
  }
}

.partners-img:nth-child(3) {
  flex-direction: row;
  img {
    transform: translate(-65%, 0);
  }
}

.animation-partner--x img {
  transform: translate(0, -70%);
}

.animation-partner--y img {
  transform: translate(-65%, 0) !important;
}

.animation-partner--y-left img {
  transform: translate(65%, 0) !important;
}

//benefits
.benefits-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.563vw;
}
.benefits-item {
  position: relative;
  height: 17.292vw;
  border-radius: 10px;
  transition: all 0.35s ease-in;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.35s ease-in;
  }
}

.benefits-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 4.688vw;
  width: 100%;
  padding: 1vw;
  background-color: var(--text-black);
  backdrop-filter: blur(5px);
  transition: all 0.35s ease-in;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  z-index: 1;
  overflow: hidden;
}

.benefits-title {
  font-family: var(--font-family-Jost);
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 2.083vw;
  color: var(--light-color);
}

.benefits-text {
  font-weight: 300;
  font-size: 1.042vw;
  line-height: 1.183vw;
  color: var(--light-color);
  transition: all 0.35s ease-in;
  opacity: 0;
  visibility: hidden;
}

.benefits-num {
  display: block;
  width: 100%;
  text-align: end;
  font-family: var(--font-family-Jost);
  font-weight: 400;
  font-size: 1.563vw;
  line-height: 2.24vw;
  color: var(--gold-color);
  transition: all 0.35s ease-in;
  opacity: 0;
  visibility: hidden;
}

@include for-desktop {
  .benefits-item:hover {
    img {
      transform: scale(1.2) !important;
    }

    .benefits-content {
      max-height: 70%;
      background: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(5px);
    }

    .benefits-text,
    .benefits-num {
      opacity: 1;
      visibility: visible;
    }
  }
}

@include tablet {
  .about {
    .process-top {
      background-position: 50% 2vw;
    }

    .description-top__img {
      height: 13.333vw;
      width: 16.993vw;
    }
    .description-top {
      gap: 2.614vw;
      align-items: flex-start;
      margin-bottom: 13.072vw;
    }

    .description-top__title {
      margin-bottom: 4.837vw;
    }

    .description-top__text {
      font-size: 3.8vw;
      line-height: 4.706vw;
    }

    .description-left {
      width: 35%;
    }

    .description-right {
      max-width: 65%;
      .btn {
        display: none;
        font-size: 0.833vw;
        line-height: 1.094vw;
        width: 60%;
        padding: 0.5vw 4.302vw 0.5vw 1.125vw;
      }
    }

    .description-img {
      width: 65%;
      margin-bottom: 3.268vw;
    }

    .mobile-btn {
      display: block;
      width: 65%;
      height: 5.752vw;
      padding: 0;
      color: var(--text-black);
      background-color: transparent;
      border-color: var(--text-black);
      &::after {
        background-color: var(--text-black);
      }
    }
  }

  //partners
  .partners-inner {
    flex-direction: column;
    padding: 6.536vw 2.614vw;
    border-radius: 1.307vw;

    .title-page {
      br {
        display: none;
      }
    }
  }
  .partners-descr {
    display: flex;
    flex-direction: column;
    gap: 3.4vw;
    max-width: 100%;
    margin-bottom: 3.268vw;
  }

  .partners-btn {
    width: 100%;
  }

  .partners-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.614vw;
    margin-bottom: 3.922vw;
  }
  .partners-img {
    gap: 7vw;
    width: 100%;
    height: 20vw;
    border-radius: 0.784vw;
    img {
      height: 13vw;
      width: 27vw;
    }
  }

  //benefits
  .benefits-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.563vw;
  }
  .benefits-item {
    height: 35.948vw;
    border-radius: 1.307vw;
  }

  .benefits-item--active .benefits-item {
    overflow: hidden;
    img {
      transform: scale(1.2) !important;
    }
  }

  .benefits-item--active .benefits-content {
    max-height: 100%;
    //height: 21vw;
    background: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-out;
  }

  .benefits-item--active .benefits-text,
  .benefits-num {
    opacity: 1;
    visibility: visible;
  }

  .benefits-content {
    max-height: 9vw;
    padding: 2vw;
  }

  .benefits-title {
    font-size: 2.614vw;
    line-height: 4.34vw;
    margin-bottom: 0.521vw;
  }

  .benefits-text {
    font-size: 1.8vw;
    line-height: 2vw;
    margin-bottom: 2vw;
  }

  .benefits-num {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@include mobile {
  .about {
    .process-top {
      background-position: 50% 7vw;
    }

    .description-top__img {
      height: 21.333vw;
      width: 25.333vw;
    }
    .description-top {
      gap: 4vw;
      flex-direction: column;
      margin-bottom: 13.333vw;
    }

    .description-top__title {
      margin-bottom: 4.837vw;
    }

    .description-top__text {
      font-size: 4.8vw;
      line-height: 8vw;
    }

    .description-items {
      gap: 13.333vw;
    }

    .description-left {
      width: 100%;
    }

    .description-right {
      max-width: 100%;
    }

    .description-img {
      width: 100%;
      margin-bottom: 5.333vw;
      border-radius: 2.667vw;
    }

    .mobile-btn {
      width: 100%;
      height: 11.733vw;
    }
  }

  //partners
  .partners {
    .container {
      max-width: 100%;
    }
  }
  .partners-inner {
    padding: 12vw 3.922vw;
    border-radius: 0;
  }
  .partners-descr {
    gap: 3.4vw;
    margin-bottom: 5.333vw;
  }

  .partners-images {
    gap: 4vw;
    margin-bottom: 5.333vw;
  }
  .partners-img {
    gap: 8vw;
  }

  //benefits
  .benefits-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
  .benefits-item {
    height: 50.667vw;
    border-radius: 2.667vw;
  }

  .benefits-content {
    max-height: 9vw;
    padding: 1vw 3vw;
  }

  .benefits-title {
    font-size: 4.8vw;
    line-height: 7vw;
    margin-bottom: 0.5vw;
  }

  .benefits-text {
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 1vw;
  }

  .benefits-num {
    font-size: 4vw;
    line-height: 7vw;
  }
}
