.btn--primary {
  position: relative;
  font-size: 0.938vw;
  line-height: 1.094vw;
  text-transform: uppercase;
  padding: 1.042vw 6.302vw 1.042vw 3.125vw;
  color: var(--light-color);
  background-color: var(--text-black);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 3vw;
    width: 1px;
    height: 100%;
    background-color: var(--gold-color);
    transition: all 0.3s ease-out;
  }
  svg {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.625vw;
    height: 0.625vw;
    transform: translateY(-50%) rotate(-90deg);
    fill: var(--gold-color);
    transition: all 0.3s ease-out;

    &:first-child {
      right: 1.3vw;
    }
    &:nth-child(2) {
      right: 1.1vw;
      opacity: 0;
    }
    &:nth-child(3) {
      right: 1vw;
    }
  }

  &:hover {
    color: var(--text-black);
    background-color: var(--gold-color);
    border: 1px solid var(--text-black);
    &::after {
      background-color: var(--text-black);
    }
    svg {
      fill: var(--text-black);
      &:first-child {
        right: 1.5vw;
      }
      &:nth-child(2) {
        right: 1.1vw;
        opacity: 1;
      }
      &:nth-child(3) {
        right: 0.75vw;
      }
    }
  }
}

.btn--secondary {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  transition: all 0.3s ease-out;

  div,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8vw;
    height: 1.8vw;
    border: 1px solid var(--text-black);
    transition: all 0.3s ease-out;
  }

  div {
    position: relative;
    border-radius: 0px 4px 4px 0px;
  }

  span {
    font-weight: 400;
    font-size: 0.938vw;
    line-height: 1.094vw;
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
  }
  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 0.5vw;
    height: 0.5vw;
    transform: translateY(-50%) rotate(-90deg);
    fill: var(--gold-color);
    transition: all 0.3s ease-out;

    &:first-child {
      right: 0.8vw;
    }
    &:last-child {
      right: 0.5vw;
    }
  }
}

.btn--tertiary {
  position: relative;
  width: 3.125vw;
  height: 3.125vw;
  display: flex;
  flex-shrink: 0;
  border: 1px solid var(--text-black);
  border-radius: 5px;
  transition: all 0.3s ease-out;
  svg {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.9vw;
    height: 0.9vw;
    fill: var(--gold-color);
    transition: all 0.3s ease-out;

    &:first-child {
      right: 0.4vw;
    }
    &:nth-child(2) {
      right: 0.7vw;
      opacity: 0;
    }
    &:nth-child(3) {
      right: 0.8vw;
    }
  }

  &:first-child {
    svg {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &:last-child {
    svg {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  &:hover {
    color: var(--text-black);
    background-color: var(--gold-color);
    border: 1px solid var(--text-black);
    &::after {
      background-color: var(--text-black);
    }
    svg {
      fill: var(--text-black);
      &:first-child {
        right: 0.2vw;
      }
      &:nth-child(2) {
        right: 0.7vw;
        opacity: 1;
      }
      &:nth-child(3) {
        right: 1.2vw;
      }
    }
  }
}

.btn--small {
  position: relative;
  width: 3.125vw;
  height: 3.125vw;
  display: flex;
  flex-shrink: 0;
  border: 1px solid var(--text-black);
  border-radius: 5px;
  transition: all 0.3s ease-out;
  svg {
    position: absolute;
    top: 50%;
    right: 0.4vw;
    width: 0.7vw;
    height: 0.7vw;
    fill: var(--gold-color);
    transition: all 0.3s ease-out;

    &:first-child {
      right: 0.3vw;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      right: 0.6vw;
    }
  }

  &:first-child {
    svg {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &:last-child {
    svg {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  @include for-desktop {
    &:hover {
      color: var(--text-black);
      background-color: var(--gold-color);
      border: 1px solid var(--text-black);
      &::after {
        background-color: var(--text-black);
      }
      svg {
        fill: var(--text-black);
        &:first-child {
          right: 0.1vw;
        }
        &:nth-child(2) {
          right: 0.5vw;
          opacity: 1;
        }
        &:nth-child(3) {
          right: 0.9vw;
        }
      }

      &:last-child svg {
        &:first-child {
          right: 0vw;
        }
        &:nth-child(2) {
          right: 0.4vw;
          opacity: 1;
        }
        &:nth-child(3) {
          right: 0.8vw;
        }
      }
    }
  }
}
