.catalog {
  padding-top: 5.3vw;

  &__title {
    margin-bottom: 2.083vw;
  }
}

.catalog-products__sliders {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}

.catalog-product__slider {
  //min-height: 20.833vw;
  padding-left: calc((100% - 91.563vw) / 2);
  display: flex;
  justify-content: space-between;
  gap: 1.563vw;

  &:not(:last-child) {
    padding-bottom: 1.563vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.product-descr {
  flex-shrink: 0;
  position: relative;
  padding: 1.563vw;
  display: flex;
  align-items: center;
  width: 21.4vw;
  border-radius: 10px 0px 0px 10px;
  background-color: #f0f0f0;
  z-index: 1;

  &__title {
    font-family: var(--font-family-Jost);
    font-weight: 400;
    font-size: 2.083vw;
    line-height: 2.083vw;
    margin-bottom: 0.781vw;
  }

  &__text {
    font-size: 1.146vw;
    line-height: 1.563vw;
    margin-bottom: 1vw;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 2.292vw;
    gap: 1.302vw;
  }

  &__btn {
    color: var(--text-black);
    padding: 0.6vw 3vw 0.6vw 0.6vw;
    width: 11.563vw;
    height: 100%;
    border-color: var(--text-black);

    &::after {
      width: 1px;
      background-color: var(--text-black);
    }

    span {
      font-size: 0.833vw;
    }

    svg {
      width: 0.7vw;
      height: 0.7vw;
      top: 0;
      transform: rotate(0);
      &:first-child {
        right: 1.1vw;
        top: 30%;
      }
      &:nth-child(2) {
        top: 35%;
      }
      &:nth-child(3) {
        right: 1.1vw;
        top: 45%;
      }
    }

    @include for-desktop {
      &:hover {
        svg {
          &:first-child {
            top: 23%;
            right: 1.1vw;
          }
          &:nth-child(2) {
            top: 38%;
            right: 1.1vw;
          }
          &:nth-child(3) {
            top: 53%;
            right: 1.1vw;
          }
        }
      }
    }
  }
}

.catalog-btns {
  position: static;
  height: 100%;
}

.catalog-prev,
.catalog-next {
  height: 100%;
  width: 2.292vw;
  border-color: var(--text-black);
}

.catalog-swiper {
  flex-shrink: 0;
  width: calc(100% - 19vw);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 6vw;
    background: linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 65.62%
    );
    z-index: 1;
  }
}

.catalog-slide {
  width: 21.83vw;
  height: auto;
  min-height: 20.833vw;
  margin-right: 1.563vw;
  border-radius: 10px;
  overflow: hidden;

  &__image {
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: top;
      transition: all 0.35s linear;
    }
  }

  &__item {
    height: 100%;
    position: relative;
  }

  &__label {
    position: absolute;
    top: 1.042vw;
    left: 1.042vw;
    padding: 0.1vw 0.8vw;
    font-weight: 400;
    font-size: 0.938vw;
    line-height: 1.563vw;
    color: var(--light-color);
    border-radius: 6px;
    z-index: 1;

    &--red {
      background-color: #e31e24;
    }
    &--green {
      background-color: #60b053;
    }
    &--blue {
      background-color: #58c2d9;
    }
  }

  &__name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    h3 {
      display: flex;
      align-items: center;
      min-height: 2vw;
      padding: 1.563vw;
      font-weight: 400;
      font-size: 0.938vw;
      line-height: 0.938vw;
      background: rgba(255, 255, 255, 0.87);
    }
  }
}

.hide-swiper-btns {
  display: none !important;
}

@include tablet {
  .catalog {
    padding-top: 12vw;

    .container {
      max-width: 100%;
    }

    .breadcrumbs {
      padding-left: calc((100% - 91.563vw) / 2);
    }

    &__title {
      margin-bottom: 3.922vw;
      padding-left: calc((100% - 91.563vw) / 2);
    }
  }

  .catalog-products__sliders {
    gap: 3.922vw;
  }

  .catalog-product__slider {
    flex-direction: column-reverse;
    min-height: auto;
    padding-left: 0;
    gap: 2.614vw;

    &:not(:last-child) {
      padding-bottom: 3.922vw;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .product-descr {
    padding: 3.922vw;
    width: 100%;
    border-radius: 0;

    &__title {
      font-size: 3.66vw;
      line-height: 4.379vw;
      margin-bottom: 1.307vw;
    }

    &__text {
      font-size: 2.353vw;
      line-height: 3.529vw;
      margin-bottom: 2.353vw;
    }

    &__bottom {
      justify-content: space-between;
      height: auto;
      gap: 1.302vw;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44.967vw;
      height: 5.752vw;
      padding: 1.5vw 9.302vw 1.5vw 3.125vw;
      border-radius: 5px;
      &::after {
        right: 6.6vw;
      }

      span {
        font-size: 2.353vw;
        line-height: 2.745vw;
      }

      &::after {
        width: 0.1px;
      }

      svg {
        width: 1.699vw;
        height: 1.699vw;
        &:first-child {
          right: 2.5vw;
          top: 33%;
        }
        &:nth-child(2) {
          top: 36%;
        }
        &:nth-child(3) {
          right: 2.5vw;
          top: 47%;
        }
      }
    }
  }

  .catalog-prev,
  .catalog-next {
    width: 5.752vw;
    height: 5.752vw;
    border-radius: 0.654vw;
    svg {
      width: 1.699vw;
      height: 1.699vw;

      &:first-child {
        right: 0.7vw;
      }
      &:nth-child(3) {
        right: 1.5vw;
      }
    }
  }

  .catalog-swiper {
    width: 100%;
    padding-left: calc((100% - 91.563vw) / 2);
    overflow: visible;
    &::after {
      right: -5vw;
      width: 14.118vw;
    }
  }

  .catalog-slide {
    width: 41.83vw;
    min-height: auto;
    height: 48.366vw;
    margin-right: 2.614vw;
    border-radius: 1.307vw;

    &__label {
      top: 2vw;
      left: 2vw;
      padding: 0.3vw 2.5vw;
      font-size: 2.353vw;
      line-height: 3.922vw;
      border-radius: 0.784vw;
    }

    &__name {
      h3 {
        display: flex;
        align-items: center;
        min-height: 8vw;
        padding: 1vw 2.614vw;
        font-size: 2.3vw;
        line-height: 2.353vw;
      }
    }
  }
}
