.contacts {
  padding-top: 5.3vw;
}

.contacts-map {
  margin-bottom: 1.563vw;
  width: 100%;
  height: 29.635vw;
  border-radius: 10px;
  overflow: hidden;
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__marker {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 3.177vw;
      height: 4.167vw;
      animation: contacts-marker 1.1s linear infinite;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 28.5vw;
      left: 50%;
      width: 2.292vw;
      transform: translateX(-50%);
      height: 0.625vw;
      border-radius: 50%;
      background-color: var(--gold-color);
    }
  }
}

@keyframes contacts-marker {
  0% {
    top: 26vw;
  }
  50% {
    top: 27vw;
  }
  100% {
    top: 26vw;
  }
}

.contacts-items {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}
.contacts-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  overflow: hidden;
}

.contacts-adress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.354vw 1.563vw;
  background-color: #efefef;
  border-bottom: 1px solid #dcdcdc;

  &__city {
    font-family: var(--font-family-Jost);
    font-weight: 400;
    font-size: 2.083vw;
    line-height: 2.083vw;
  }

  &__place,
  &__phone {
    display: flex;
    align-items: center;
    gap: 0.7vw;
    svg {
      width: 1vw;
      height: 1vw;
      fill: var(--gold-color);
    }
    span {
      font-weight: 300;
      font-size: 1.146vw;
      line-height: 1.458vw;
    }
  }

  &__btn {
    font-size: 0.938vw;
    line-height: 1.094vw;
    justify-content: space-between;
    width: 22vw;
    padding: 0.95vw 0.781vw;
    background-color: var(--text-black);
    margin: 0;
    border-radius: 5px;
    transition: 0.3s ease-out;
    &::after {
      right: 3.3vw;
      width: 0.5px;
      background: var(--gold-color);
    }
    svg {
      fill: var(--gold-color);
      margin: 0;
      margin-right: 0.2vw;
    }
    span {
      margin: 0;
      margin-left: 5vw;
    }
  }
}

.contacts-adress__info {
  display: flex;
  gap: 2.604vw;
}

.contacts-person {
  display: flex;
  text-align: center;
  &:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;
  }
  &__name {
    text-align: left;
    width: 26vw;
    padding: 1.354vw 1.563vw;
    font-weight: 400;
    font-size: 1.563vw;
    line-height: 1.875vw;
    border-right: 1px solid #dcdcdc;
  }

  &__profession {
    width: calc(100% - 52vw);
    padding: 1.354vw 1.563vw;
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.458vw;
    border-right: 1px solid #dcdcdc;
  }

  &__mail {
    width: 26vw;
    padding: 1.354vw 1.563vw;
    font-weight: 400;
    font-size: 1.146vw;
    line-height: 1.458vw;
  }
}

@include tablet {
  .contacts {
    padding-top: 12vw;
  }

  .contacts-map {
    margin-bottom: 1.961vw;
    height: 67.451vw;
    border-radius: 0;

    &__marker {
      img {
        top: 50%;
        left: 50%;
        width: 7.974vw;
        height: 10.458vw;
      }

      &::after {
        top: 63vw;
        width: 5.752vw;
        height: 1.569vw;
      }
    }
  }

  @keyframes contacts-marker {
    0% {
      top: 57vw;
    }
    50% {
      top: 59vw;
    }
    100% {
      top: 57vw;
    }
  }

  .contacts-items {
    gap: 3.922vw;
  }
  .contacts-item {
    border-radius: 0;
  }

  .contacts-adress {
    flex-direction: column;
    padding: 2.614vw;

    &__city {
      margin-bottom: 1.307vw;
      width: 100%;
      text-align: left;
      font-size: 3.66vw;
      line-height: 5.229vw;
    }

    &__place,
    &__phone {
      gap: 1.307vw;
      svg {
        width: 3.137vw;
        height: 3.137vw;
      }
      span {
        font-size: 2.353vw;
        line-height: 3.66vw;
      }
    }

    .header__btn span {
      display: block;
    }

    &__btn {
      font-size: 2.353vw;
      line-height: 2.745vw;
      width: 100%;
      height: 5.752vw;
      padding: 0;
      border-radius: 0.654vw;
      &::after {
        right: 7vw;
        width: 0.5px;
      }
      svg {
        margin-right: 2vw;
      }
      span {
        display: block;
        width: 100%;
        text-align: center;
        margin-left: 0;
      }
    }
  }

  .contacts-adress__info {
    gap: 0;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2.614vw;
  }

  .contacts-person {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.614vw;
    &__name {
      width: 50%;
      padding: 0;
      font-size: 2.353vw;
      line-height: 4.706vw;
      border-right: none;
    }

    &__profession {
      order: 1;
      text-align: left;
      width: 50%;
      padding: 0;
      font-size: 2.353vw;
      line-height: 4.706vw;
      border-right: none;
    }

    &__mail {
      width: auto;
      padding: 0;
      font-size: 2.353vw;
      line-height: 4.706vw;
    }
  }
}

@include mobile {
  .contacts {
    padding-top: 21vw;
  }

  .contacts-map {
    margin-bottom: 5.333vw;
    height: 69.867vw;

    &__marker {
      img {
        width: 10.667vw;
        height: 13.867vw;
      }

      &::after {
        top: 80vw;
        width: 7.467vw;
        height: 2.133vw;
      }
    }
  }

  @keyframes contacts-marker {
    0% {
      top: 75vw;
    }
    50% {
      top: 73vw;
    }
    100% {
      top: 75vw;
    }
  }

  .contacts-items {
    gap: 5.333vw;
  }

  .contacts-adress {
    padding: 5.333vw 4vw;

    &__city {
      margin-bottom: 2.667vw;
      font-size: 7.467vw;
      line-height: 10.667vw;
    }

    &__place,
    &__phone {
      gap: 2.667vw;
      svg {
        width: 6.133vw;
        height: 6.133vw;
      }
      span {
        font-size: 4.267vw;
        line-height: 7.467vw;
      }
    }

    &__btn {
      font-size: 4.267vw;
      line-height: 5.6vw;
      height: 12vw;
      border-radius: 1.333vw;
      &::after {
        right: 13vw;
      }
      svg {
        width: 5.333vw;
        height: 5.333vw;
        margin-right: 4vw;
      }
    }
  }

  .contacts-adress__info {
    gap: 2.667vw;
    flex-direction: column;
    margin-bottom: 4vw;
  }

  .contacts-person {
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    padding: 5.333vw 4vw;
    &__name {
      font-size: 4.267vw;
      line-height: 9.6vw;
    }

    &__profession {
      order: inherit;
      width: 100%;
      font-size: 4.267vw;
      line-height: 9.6vw;
    }

    &__mail {
      font-size: 4.267vw;
      line-height: 9.6vw;
    }
  }
}
