.description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  position: relative;
  top: -3.3vw;
  max-width: 88vw;
  margin: 0 auto;
  padding: 3.125vw 6.094vw 3.7vw;
  background-color: #f0f0f0;
  border-radius: 10px;
  z-index: 1;
}
.description-item {
  display: flex;
  align-items: flex-start;
  gap: 6.563vw;
}
.description-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 9.1vw;
  gap: 0.677vw;
  span {
    font-weight: 400;
    font-size: 1.146vw;
    line-height: 1.563vw;
    color: var(--gold-color);
  }
  h4 {
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.458vw;
  }
}
.description-right {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  max-width: 52.083vw;
}
.description-text {
  font-weight: 300;
  font-size: 1.146vw;
  line-height: 1.458vw;
}
.description-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5vw;
}

@include tablet {
  .description-wrapper {
    gap: 1.563vw;
    top: -9vw;
    max-width: 91.563vw;
    padding: 5.229vw 2.614vw;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  .description-item {
    gap: 0;
    justify-content: space-between;
  }
  .description-left {
    width: auto;
    gap: 1.307vw;
    span {
      font-size: 2.876vw;
      line-height: 3.922vw;
    }
    h4 {
      font-size: 2.353vw;
      line-height: 3.66vw;
    }
  }
  .description-right {
    gap: 2.614vw;
    max-width: 52vw;
  }
  .description-text {
    font-size: 2.353vw;
    line-height: 3.399vw;
  }
  .description-list {
    gap: 0.5vw;
  }
}

@include mobile {
  .description-wrapper {
    gap: 5.333vw;
    top: -30vw;
    padding: 10.667vw 5.333vw;
    border-radius: 2.667vw;
  }
  .description-item {
    gap: 2.667vw;
    flex-direction: column;
  }
  .description-left {
    width: auto;
    gap: 2.667vw;
    span {
      font-size: 5.867vw;
      line-height: 8vw;
    }
    h4 {
      font-size: 4.267vw;
      line-height: 7.467vw;
    }
  }
  .description-right {
    gap: 4vw;
    max-width: 100%;
  }
  .description-text {
    font-size: 4.267vw;
    line-height: 6.4vw;
  }
  .description-list {
    gap: 2.667vw;
  }
}
