.facts {
  .products__top {
    margin-bottom: 1.7vw;
  }
}

.facts-items {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}
.facts-item {
  display: flex;
  gap: 4.2vw;
}

.fact-num {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 11.615vw;
  height: 100%;
  &__big {
    position: relative;
    font-family: var(--font-family-Jost);
    font-weight: 700;
    font-size: 9.896vw;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-black);
    text-transform: uppercase;
    opacity: 0.15;
  }

  &__small {
    position: absolute;
    left: -0.5vw;
    bottom: 0;
    font-family: var(--font-family-Jost);
    font-weight: 300;
    font-size: 3.125vw;
  }
}
.fact-content {
  display: flex;
  padding: 0.781vw;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.fact-img {
  flex-shrink: 0;
  width: 13.229vw;
  height: 10.313vw;
  margin-right: 1.563vw;
  border-radius: 7px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
  }
}

.fact-descr {
  display: flex;
  flex-direction: column;
  padding-top: 0.8vw;
  gap: 0.781vw;
  margin-right: 3vw;
}
.fact-title {
  font-family: var(--font-family-Jost);
  font-weight: 500;
  font-size: 2.083vw;
  line-height: 2.083vw;
  transition: all 0.3s ease-out;
}
.fact-text {
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.563vw;
  transition: all 0.3s ease-out;
}

.fact-btn {
  height: fit-content;
  margin-top: auto;
}

@include for-desktop {
  .fact-content:hover {
    background-color: var(--text-black);
  }

  .fact-content:hover .fact-title {
    color: var(--light-color);
  }

  .fact-content:hover .fact-text {
    color: var(--gray-color);
  }

  .fact-content:hover .fact-img img {
    transform: scale(1.1);
  }

  .fact-content:hover .fact-btn {
    background-color: var(--gold-color);
  }

  .fact-content:hover .fact-btn svg {
    fill: var(--text-black);
  }
}

@include tablet {
  .facts {
    .facts-btn {
      display: none;
    }
    .products__top {
      margin-bottom: 5.621vw;
    }
  }

  .facts-items {
    gap: 0;
    flex-direction: row;
    margin-bottom: 13vw;
  }
  .facts-item {
    align-items: stretch;
    gap: 2.614vw;
    height: auto;
  }

  .fact-num {
    max-width: fit-content;
    height: auto;
    display: flex;
    align-items: flex-end;
    &__big {
      font-size: 10.719vw;
    }

    &__small {
      left: 0vw;
      font-size: 3.399vw;
    }
  }
  .fact-content {
    height: 100%;
    padding: 1.961vw;
    border-radius: 1.307vw;
  }
  .fact-img {
    width: 22.876vw;
    height: auto;
    margin-right: 1.961vw;
    border-radius: 0.915vw;
  }

  .fact-descr {
    width: 100%;
    padding-top: 0;
    gap: 1.961vw;
    margin-right: 0;
  }
  .fact-title {
    font-size: 3.66vw;
    line-height: 4.379vw;
  }
  .fact-text {
    font-size: 2.353vw;
    line-height: 3.66vw;
  }

  .facts-swiper__btn {
    text-align: center;
    width: 55vw;
  }
}
