.feedback {
  background: rgba(194, 143, 64, 1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;

    animation-name: lines;
    animation-duration: 13s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

    width: 100%;
    height: 40.104vw;

    background-size: 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      90deg,
      rgba(194, 143, 64, 1) 0%,
      rgba(194, 143, 64, 1) 16%,
      rgba(212, 165, 84, 1) 16.1%,
      rgba(194, 143, 64, 1) 16.2%,
      rgba(194, 143, 64, 1) 32%,
      rgba(212, 165, 84, 1) 32.1%,
      rgba(194, 143, 64, 1) 32.2%,
      rgba(194, 143, 64, 1) 49%,
      rgba(212, 165, 84, 1) 49.1%,
      rgba(194, 143, 64, 1) 49.2%,
      rgba(194, 143, 64, 1) 65%,
      rgba(212, 165, 84, 1) 65.1%,
      rgba(194, 143, 64, 1) 65.2%,
      rgba(194, 143, 64, 1) 83%,
      rgba(212, 165, 84, 1) 83.1%,
      rgba(194, 143, 64, 1) 83.2%,
      rgba(194, 143, 64, 1) 100%
    );
  }
}

@keyframes lines {
  0% {
    background-size: 50%;
    background-position: left;
  }

  50% {
    background-size: 100%;
    background-position: left;
  }

  50.1% {
    background-size: 100%;
    background-position: right;
  }

  100% {
    background-size: 50%;
    background-position: right;
  }
}

.feedback-form {
  width: 29.479vw;
}

.feedback-title {
  margin-bottom: 0.781vw;
}

.feedback-text {
  margin-bottom: 1.823vw;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  &__label {
    position: relative;
    width: 100%;
    svg {
      position: absolute;
      top: 50%;
      left: 1vw;
      transform: translateY(-50%);
      width: 1.042vw;
      height: 1.042vw;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 3vw;
      width: 1px;
      height: 100%;
      background-color: var(--text-black);
    }
  }

  &__input {
    width: 100%;
    padding: 0.781vw 0.781vw 0.781vw 4vw;
    border: 1px solid var(--text-black);
    border-radius: 5px;
    outline: none;
    &::placeholder {
      color: var(--gray-color);
      font-weight: 300;
      font-size: 1.146vw;
      line-height: 1.458vw;
    }
  }
}

.custom-checkbox {
  @include custom-checkbox;
  &__content {
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.458vw;
    display: block;
    text-align: left;
  }
}

@include tablet {
  .feedback__container {
    height: 100.26vw;
    background-image: none;
    animation: none;
  }

  .feedback-form {
    width: 100%;
    padding: 0;
  }

  .feedback-title {
    margin-bottom: 1.961vw;
  }

  .feedback-text {
    margin-bottom: 7.19vw;
  }

  .form {
    gap: 3.922vw;
  }

  .form__label {
    svg {
      left: 2vw;
      width: 2.614vw;
      height: 2.614vw;
    }
    &::after {
      left: 6.6vw;
    }
  }

  .form__input {
    padding: 2.5vw 2.5vw 2.5vw 9vw;
    border-radius: 5px;
    &::placeholder {
      font-size: 2.5vw;
      line-height: 3.66vw;
    }
  }

  .custom-checkbox {
    &__content {
      font-size: 2.614vw;
      line-height: 3.66vw;
    }
  }
}

@include tablet {
  .custom-checkbox {
    position: relative;
    left: 3vw;

    &__content {
      padding-left: 4vw;

      &::before {
        top: 0.156vw;
        width: 2.614vw;
        height: 2.614vw;
        border-radius: 0.4vw;
      }

      &::after {
        left: 0.5vw;
        top: 0.65vw;
        width: 1.7vw;
        height: 1.7vw;
        border-radius: 0.4vw;
      }
    }
  }
}

@include mobile {
  .feedback__container {
    height: auto;
    padding: 18.667vw 0;
  }

  .feedback-title {
    margin-bottom: 2.667vw;
  }

  .feedback-text {
    margin-bottom: 10.667vw;
  }

  .form {
    gap: 4vw;
  }

  .form__label {
    svg {
      left: 4vw;
      width: 5.6vw;
      height: 5.6vw;
    }
    &::after {
      left: 13vw;
    }
  }

  .form__input {
    padding: 3.5vw 2.5vw 3.5vw 17vw;
    border-radius: 1.333vw;
    &::placeholder {
      font-size: 4.267vw;
      line-height: 7.467vw;
    }
  }

  .custom-checkbox {
    &__content {
      font-size: 4.267vw;
      line-height: 5.333vw;
    }
  }
}

@include mobile {
  .custom-checkbox {
    left: 7vw;

    &__content {
      padding-left: 7vw;

      &::before {
        top: 0.156vw;
        width: 4vw;
        height: 4vw;
        border-radius: 0.4vw;
      }

      &::after {
        left: 0.8vw;
        top: 0.9vw;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 0.4vw;
      }
    }
  }
}
