.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5vw 0;
  background-color: var(--light-color);
  border-bottom: 1px solid #dcdcdc;
  z-index: 2;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: 0 auto;
    width: 13.49vw;
    height: auto;
  }

  &__btn {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0.677vw 0.781vw;
    font-size: 0.833vw;
    line-height: 0.938vw;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--light-color);
    background-color: var(--gold-color);
    border-radius: 0.208vw;
    margin-right: 1.3vw;
    position: relative;
    transition: all 0.3s ease-out;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 9.3vw;
      width: 0.5px;
      height: 100%;
      background: var(--light-color);
    }
    svg {
      width: 1.042vw;
      height: 1.042vw;
      margin-right: 0.7vw;
      fill: currentColor;
    }
    span {
      margin-left: 1.042vw;
    }

    @include for-desktop {
      &:hover {
        background-color: var(--text-black);
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    gap: 2.083vw;
  }

  &__item {
    &--sub {
      position: relative;
      a {
        gap: 0.286vw;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 0.833vw;
    line-height: 0.938vw;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    svg {
      width: 0.495vw;
      height: 0.286vw;
    }

    &--sub {
      gap: 0.26vw;
    }

    @include for-desktop {
      &:hover {
        color: var(--gold-color);
      }
    }
  }
}

.sub-menu {
  display: none;
  position: absolute;
  top: 1vw;
  left: -0.5vw;
  width: max-content;
  padding: 0.781vw 0.573vw;
  background-color: var(--light-color);
  border-radius: 5px;
  z-index: 1;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.625vw;
  }
}

.nav-right {
  margin-right: 2.3vw;
}

//lang
.lang {
  position: relative;
  padding: 0.677vw 0.729vw;
  border: 1px solid var(--text-black);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 2vw;
    width: 0.5px;
    height: 100%;
    background-color: var(--text-black);
    transition: all 0.3s ease-out;
  }
  &-icon {
    display: flex;
    flex-direction: column;
    svg {
      width: 0.6vw;
      height: 0.4vw;
      margin-left: 0.599vw;
      transition: all 0.3s ease-out;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__sub-menu {
    display: none;
    flex-direction: column;
    gap: 0.417vw;
    position: absolute;
    top: 2.5vw;
    left: 0;
    width: 100%;
    padding: 0.677vw 0.729vw;
    background-color: var(--text-black);
    border-radius: 4px;
    animation-name: fade;
    animation-duration: 0.3s;
  }
}

.lang-item {
  font-size: 0.833vw;
  line-height: 0.938vw;
  color: var(--text-black);
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.lang-item--el {
  margin-right: 0.625vw;
}

.hide-lang__sub-menu {
  display: flex !important;
}

.header-lang--active {
  background-color: var(--text-black);
}

.header-lang--active .lang-icon svg {
  fill: var(--light-color);
  transform: rotate(-180deg);
}

.header-lang--active .lang-item {
  color: var(--light-color);
}

.header-lang--active.lang::after {
  background-color: var(--light-color);
}

@include for-desktop {
  .nav__list > .nav__item:hover .sub-menu {
    display: block;
    animation-name: fade;
    animation-duration: 0.3s;
  }

  .sub-menu__list > .sub-menu__item:hover .sub-menu__link::after {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  display: none;
}

.menu__form,
.menu__logo {
  display: none;
}

//!media
@include tablet {
  .header {
    padding: 1.699vw 0;

    &__logo {
      width: 26.144vw;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.843vw;
      height: 5.229vw;
      border-radius: 4px;
      padding: 0;
      margin-right: 0;

      &::after {
        right: 0;
        width: 0;
      }
      svg {
        width: 2.614vw;
        height: 2.614vw;
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
  }

  //бургер меню
  .burger {
    @include burger;
    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translateY(-50%);
    display: block;
    width: 6.667vw;
    height: 3.922vw;
    z-index: 5;

    &::before,
    &::after,
    &__line {
      height: 0.261vw;
      border-radius: 11px;
    }

    &__line {
      background-color: var(--gold-color);
    }

    &--active::after {
      background-color: var(--gold-color);
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    z-index: 4;

    &__wrapper {
      position: relative;
      width: 64.706vw;
      min-height: 100%;
      height: auto;
      background-color: var(--light-color);
      transform: translateX(-100%);
      transition: all 0.3s ease-out;
    }

    &__top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1.699vw 0;
      border-bottom: 1px solid #dcdcdc;
      z-index: 1;
    }

    &__logo {
      display: block;
      width: 26.144vw;
      height: auto;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .nav {
    padding: 14.51vw 3.5vw 6.275vw;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 4.427vw;
    }

    &__item--sub {
      display: none;
    }

    &__link {
      font-weight: 400;
      font-size: 2.604vw;
      line-height: 2.995vw;
    }
  }

  //Вспомогательные классы
  .hide-backdrop-filter {
    backdrop-filter: none;
  }

  .menu--active {
    transform: translateX(0);
  }

  .mob-menu--show {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(0.37vw);
    background-color: rgba(0, 0, 0, 0.6);
  }

  .sub-menu {
    top: 1vw;
    left: -0.5vw;
    padding: 0.781vw 0.573vw;
    border-radius: 5px;
    &__list {
      gap: 0.625vw;
    }
  }

  .nav-right {
    display: none;
    margin-right: 0;
  }

  //lang
  .lang {
    display: none;
    &__sub-menu {
      padding: 0 3.5vw 3.922vw;
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.417vw;
      top: 2.5vw;
      background-color: transparent;
      border-radius: 4px;
    }
  }

  .lang-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2.614vw;
    line-height: 2.353vw;
    width: 135px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid var(--text-black);
  }

  .menu__form {
    display: block;
    padding-top: 3.922vw;
    padding-bottom: 7.843vw;
    border-top: 1px solid #dcdcdc;
    .feedback-form {
      width: 100%;
      padding: 0 3.5vw;
    }

    .feedback-title {
      font-size: 3.922vw;
      line-height: 3.922vw;
      margin-bottom: 1.307vw;
    }

    .feedback-text {
      font-size: 2.353vw;
      line-height: 2.876vw;
      margin-bottom: 3.922vw;
    }

    .form {
      gap: 2.614vw;
    }

    .form__label {
      svg {
        left: 2vw;
        width: 2.614vw;
        height: 2.614vw;
      }
      &::after {
        left: 6.6vw;
      }
    }

    .form__input {
      padding: 2.5vw 2.5vw 2.5vw 9vw;
      border-radius: 5px;
      &::placeholder {
        font-size: 2.5vw;
        line-height: 3.66vw;
      }
    }
  }
}
