.hero {
  padding-top: 3.7vw;
  &__container {
    position: relative;
    display: flex;
    padding-left: calc((100% - 91.563vw) / 2);

    > div {
      flex: 1;
    }
  }
}

.hero-swiper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4vw;
  padding-top: 4.5vw;
  padding-bottom: 1vw;
  min-height: calc(100vh - 3.7vw);
  max-width: 43.3vw;
  height: 100%;

  &__wrapper {
    height: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 3.5vw;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
    margin-bottom: 2vw;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__pagination {
    display: flex;
    align-items: flex-end;
    gap: 1.042vw;
  }

  &__btn-next,
  &__btn-prev {
    display: flex;
  }

  &__current {
    font-family: var(--font-family-Jost);
    font-size: 6.25vw;
    line-height: 4.6vw;
    font-weight: 200;
    padding-right: 0.3vw;
    vertical-align: bottom;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 3.7vw;
      right: 0;
      width: 1px;
      height: 3vw;
      background-color: var(--gray-color);
    }
  }

  &__total {
    font-family: var(--font-family-Jost);
    font-size: 2.083vw;
    line-height: 1.6vw;
    font-weight: 300;
    color: var(--gray-color);
    padding-left: 0.7vw;
    vertical-align: bottom;
  }
}

.hero-img {
  width: calc(100% - 43.073vw - 8vw);
  min-height: calc(100vh - 3.7vw);
  flex-shrink: 0;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@include tablet {
  .hero {
    padding-top: 28.305px;
    &__container {
      flex-direction: column-reverse;
      padding: 0;
      gap: 2.614vw;
      > div {
        flex: auto;
      }
    }
  }

  .hero-swiper {
    margin-right: 0;
    max-width: 93vw;
    gap: 3.922vw;
    min-height: auto;
    margin: 0 auto;
    overflow: hidden;

    &__slide {
      gap: 1.961vw;
    }

    &__title {
      font-size: 5.55vw;
      line-height: 7.843vw;
      margin-bottom: 0;
    }

    &__text {
      gap: 1.961vw;
      margin-bottom: 0;
    }

    &__pagination {
      gap: 1.961vw;
      flex-shrink: 0;
    }

    &__btn-next,
    &__btn-prev {
      display: flex;
    }

    &__btn {
      display: flex;
      justify-content: center;
      width: 53vw;
    }

    &__current {
      font-size: 7vw;
      line-height: 7vw;
      padding-right: 1.307vw;
      &::after {
        top: 50%;
        right: 0;
        width: 0.131vw;
        height: 2.5vw;
      }
    }

    &__total {
      font-size: 3vw;
      line-height: 4vw;
      padding-left: 1.307vw;
    }
  }

  .hero-img {
    width: 100%;
    min-height: auto;
    height: 56.209vw;
    border-radius: 0;
  }
}
