.modal {
  .graph-modal__close {
    top: 1.5vw;
    right: 1.5vw;
  }
}

.modal-container {
  width: 60vw;
  height: 35.729vw;
  padding: 0;
  overflow: hidden;
}

.modal-content {
  display: flex;
  height: 100%;
}

.modal-title {
  font-size: 2.5vw;
  line-height: 3.125vw;
}

.modal-text {
  font-size: 1.1vw;
}

.modal-form.feedback-form {
  flex-shrink: 0;
  padding: 2.604vw;
  width: 33vw;
}

.modal-checkbox.custom-checkbox {
  left: 0;
}
.modal-img {
  width: 100%;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

//discount modal
.modal-discount {
  background-color: var(--gold-color);

  .modal-content {
    margin-right: 1vw;
    align-items: center;
  }

  .modal-title {
    font-size: 2.4vw;
    span {
      color: var(--light-color);
    }
  }

  .modal-form {
    padding: 0;
    form {
      width: 28vw;
    }
  }
}

@include tablet {
  .modal {
    .graph-modal__close {
      width: 2.745vw;
      height: 2.745vw;
      top: 3.268vw;
      right: 3.268vw;
    }
  }

  .modal-container {
    width: 100%;
    max-width: 91.563vw;
    height: auto;
    border-radius: 1.307vw;
  }

  .modal-title {
    font-size: 5.49vw;
    line-height: 6.797vw;
    margin-bottom: 1.961vw;
  }

  .modal-text.feedback-text {
    font-size: 2.614vw;
    line-height: 3.268vw;
    margin-bottom: 3.137vw;
  }

  .modal-form.feedback-form {
    padding: 4.706vw 2.745vw;
    width: 60%;
  }

  .modal-img {
    height: auto;
  }

  //discount modal
  .modal-discount {
    .modal-content {
      margin-right: 1vw;
    }

    .modal-title {
      padding: 7vw 3.922vw 0;
      font-size: 5.49vw;
      line-height: 6.797vw;
      margin-bottom: 1.961vw;
    }

    .modal-form {
      form {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .modal {
    .graph-modal__close {
      width: 7vw;
      height: 7vw;
      top: 4vw;
      right: 4vw;
    }
  }

  .modal-container {
    max-width: 91.563vw;
    border-radius: 2.667vw;
  }

  .modal-title {
    font-size: 5.867vw;
    line-height: 8vw;
    margin-bottom: 2.667vw;
  }

  .modal-text.feedback-text {
    font-size: 4.8vw;
    line-height: 5.867vw;
    margin-bottom: 8vw;
  }

  .modal-form.feedback-form {
    padding: 18.667vw 4vw 12vw;
    width: 100%;
  }

  .modal-img {
    display: none;
  }

  //discount modal
  .modal-discount {
    .modal-content {
      margin-right: 0;
    }

    .modal-title {
      padding: 18.667vw 4vw 8vw;
      font-size: 5.49vw;
      line-height: 6.797vw;
      margin-bottom: 1.961vw;
    }

    .modal-form {
      padding-top: 0;
      form {
        width: 100%;
      }
    }
  }
}
