.single {
  padding-top: 5.3vw;

  .breadcrumbs {
    padding-left: 3.906vw;
  }
}

.single-product {
  display: flex;
  gap: 2.7vw;
  margin-bottom: 3vw;
  &__slider {
    width: 43.9vw;
    flex-shrink: 0;
  }

  &__title {
    font-family: var(--font-family-Jost);
    font-weight: 400;
    font-size: 2.083vw;
    line-height: 2.083vw;
    margin-bottom: 0.9vw;
  }

  &__text {
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.458vw;
    margin-bottom: 0.9vw;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 21.771vw;
    svg {
      width: 1.042vw;
      height: 1.042vw;
      top: 50%;
      transform: translateY(-50%) rotate(0);
      &:first-child {
        right: 1.1vw;
      }
    }
    &:last-child {
      border-color: var(--text-black);
      color: var(--text-black);
      background-color: var(--light-color);
      @include for-desktop {
        &:hover {
          background-color: var(--gold-color);
          &::after {
            background-color: var(--text-black);
          }
        }
      }
    }

    @include for-desktop {
      &:hover {
        &::after {
          background-color: var(--text-black);
        }
        svg {
          &:first-child {
            right: 1.1vw;
          }
        }
      }
    }
  }
}

//swiper
.single-swiper {
  position: relative;
  margin-bottom: 1.042vw;
}

.single-wrapper {
  width: 100%;
  height: 100%;
}

.single-slide {
  height: 32.5vw;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.single-swiper__zoom {
  position: absolute;
  right: 0.781vw;
  bottom: 0.781vw;
  width: 2.344vw;
  height: 2.344vw;
  z-index: 1;
  cursor: pointer;
}

//swiper-mini
.single-mini {
  display: flex;
  height: 7.5vw;
}
.single-swiper__mini {
  height: 100%;
  margin-right: 20px;
}

.single-wrapper__mini {
  height: 100%;
}

.single-slide__mini {
  position: relative;
  height: calc(100% - 0.5vw);
  overflow: visible;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

//active slide mini
.single-swiper__mini .swiper-slide-thumb-active {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    width: 100%;
    height: 0.17vw;
    background: var(--gold-color);
    border-radius: 10px;
    animation-name: fade;
    animation-duration: 0.5s;
  }
}

.single-pagination {
  height: calc(100% - 0.5vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//guarantee
.guarantee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7vw 0 1.5vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  &__item {
    display: flex;
    align-items: center;
    gap: 0.521vw;
    svg {
      width: 1.563vw;
      height: 1.563vw;
      fill: var(--gold-color);
    }
    h4 {
      font-weight: 400;
      font-size: 1.1vw;
      line-height: 1.563vw;
    }
  }
}

//characteristic
.characteristics {
  display: flex;
  flex-direction: column;
  padding: 1.563vw 0 1.1vw;
  gap: 1.5vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.characteristic {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  &__title {
    font-weight: 400;
    font-size: 1.146vw;
    line-height: 1.563vw;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.302vw;
    row-gap: 0.885vw;
  }

  &__item {
    position: relative;
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.458vw;
    padding-left: 0.7vw;
    &::before {
      content: "";
      position: absolute;
      top: 0.7vw;
      left: 0;
      transform: translateY(-50%);
      width: 0.26vw;
      height: 0.26vw;
      border-radius: 50%;
      background-color: var(--gold-color);
    }
  }
}
//price-block
.price-block {
  br {
    display: none;
  }
  padding: 0.5vw 0 1vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  &__text {
    font-weight: 400;
    font-size: 1.146vw;
    line-height: 1.563vw;
  }

  &__old {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.458vw;
    opacity: 0.3;
    padding: 0 0.5vw;
  }

  &__new {
    font-family: var(--font-family-Jost);
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 3.125vw;
    color: var(--gold-color);
    padding-right: 1vw;
  }
}

//light gallery
.lg-icon,
.lg-counter {
  display: none;
}

//description
.description-top {
  position: relative;
  width: 100%;
  height: 21.25vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.description-title {
  position: absolute;
  left: 2vw;
  bottom: 5vw;
  color: var(--light-color);
}

//characteristic-table
.characteristics-table {
  margin-bottom: 4.167vw;

  .single-product__btn {
    color: var(--light-color);
    background-color: var(--text-black);
    border: none;
  }
}
.characteristics-table__top {
  align-items: flex-end;
}
.characteristics__top-title {
  max-width: 45vw;
}
.table-content {
  position: relative;
  overflow: hidden;
}

table.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  height: auto;
}

table.table,
table.table td,
table.table th {
  border: 1px solid #dcdcdc;
}
table.table td,
table.table th {
  padding: 0.521vw;
  min-height: 1.823vw;
  height: 1.823vw;
}
table.table th {
  background: #f0f0f0;
  font-weight: normal;
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.563vw;
}
table.table td {
  text-align: center;
  font-weight: 300;
  font-size: 1.146vw;
  line-height: 1.458vw;
}
table .table-choice--yes {
  color: var(--gold-color);
}
table .table-choice--no {
  color: red;
}

//certificates
.certificates {
  margin-bottom: 8.125vw;
}
.certificates-title {
  margin-bottom: 2.604vw;
}
.certificates-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.563vw;
}

.certificate {
  height: 28.438vw;
  position: relative;
  filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.1));
}

.certificate-img {
  height: calc(100% - 2vw);
  margin: 0 auto;
  position: relative;
}
.certificate-img__inner {
  width: 100%;
  height: 10.521vw;
  position: absolute;
  left: 0;
  bottom: 0;
}

@include tablet {
  .single {
    padding-top: 12vw;
  }

  .single-product {
    flex-direction: column;
    gap: 2.614vw;
    margin-bottom: 7.843vw;
    &__slider {
      width: 100%;
      height: auto;
    }

    &__title {
      font-size: 3.66vw;
      line-height: 4.379vw;
      margin-bottom: 0;
    }

    &__text {
      font-size: 2.353vw;
      line-height: 3.399vw;
      margin-bottom: 3.922vw;
    }

    &__btn {
      width: 100%;
      svg {
        width: 2.353vw;
        height: 2.745vw;
        &:first-child {
          right: 2vw;
        }
      }
    }
  }

  //swiper
  .single-swiper {
    height: 81.176vw;
    margin-bottom: 2.614vw;
  }

  .single-wrapper {
    height: 100%;
  }

  .single-slide {
    height: 100%;
    border-radius: 1.307vw;
  }

  .single-swiper__zoom {
    right: 1.961vw;
    bottom: 1.961vw;
    width: 5.882vw;
    height: 5.882vw;
  }

  //swiper-mini
  .single-mini {
    height: 17vw;
  }
  .single-swiper__mini {
    margin-right: 0;
  }

  .single-wrapper__mini {
    height: 100%;
  }

  .single-slide__mini {
    height: calc(100% - 1.5vw);
    img {
      border-radius: 8px;
    }
  }

  //active slide mini
  .single-swiper__mini .swiper-slide-thumb-active {
    &::after {
      bottom: -1.5vw;
      width: 100%;
      height: 0.4vw;
    }
  }

  .single-pagination {
    display: none;
    height: calc(100% - 0.5vw);
  }

  //guarantee
  .guarantee {
    padding: 3.922vw 0;
    &__item {
      gap: 1.1vw;
      svg {
        width: 3.922vw;
        height: 3.922vw;
      }
      h4 {
        font-size: 2.2vw;
        line-height: 3.922vw;
      }
    }
  }

  //characteristic
  .characteristics {
    padding: 1.563vw 0 1.1vw;
    gap: 2.222vw;
  }

  .characteristic {
    gap: 1.307vw;
    &__title {
      font-size: 2.353vw;
      line-height: 3.922vw;
    }

    &__list {
      column-gap: 5.229vw;
      row-gap: 1vw;
    }

    &__item {
      font-size: 2.353vw;
      line-height: 3.66vw;
      padding-left: 1.7vw;
      &::before {
        top: 1.7vw;
        width: 0.7vw;
        height: 0.7vw;
      }
    }
  }
  //price-block
  .price-block {
    padding: 1.563vw 0;
    &__text {
      font-size: 2.353vw;
      line-height: 3.922vw;
    }

    &__old {
      font-size: 2.876vw;
      line-height: 3.66vw;
      padding: 0 1vw;
    }

    &__new {
      font-size: 5.49vw;
      line-height: 7.843vw;
      padding-right: 1.5vw;
    }
  }

  //description
  .single-description.container {
    max-width: 100%;
  }

  .description-top {
    height: 53.333vw;
  }
  .description-title {
    left: 4vw;
    bottom: 13vw;
  }

  //characteristic-table
  .characteristics-table {
    margin-bottom: 7.843vw;

    .btn {
      width: calc(100% - 3.922vw);
    }
  }

  .characteristics-table.container {
    max-width: 100%;
    padding-left: 3.922vw;
  }

  .characteristics-table__top {
    max-width: 91.563vw;
  }

  .characteristics__top-title {
    max-width: 100%;
    font-size: 5.3vw;
    line-height: 6.536vw;
  }
  .table-content {
    max-width: 250vw;
    margin-bottom: 5.229vw;
    border-radius: 0;
    overflow: auto;
  }

  table.table {
    margin-bottom: 2.604vw;
  }

  .simplebar-content-wrapper {
    overflow: auto;
  }

  .simplebar-track.simplebar-horizontal {
    width: calc(100% - 3.922vw);
    height: 0.523vw;
    border-radius: 1.307vw;
    background: #efefef;
  }

  .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    top: 0;
  }

  .simplebar-scrollbar {
    background-color: var(--gold-color);
    height: 100%;
    border-radius: 1.307vw;
  }
  .simplebar-scrollbar::before {
    background-color: var(--gold-color);
    opacity: 1;
  }

  table.table td,
  table.table th {
    padding: 3.007vw 2.092vw;
    min-height: 1.823vw;
    height: 1.823vw;
  }

  table.table th {
    font-size: 2.353vw;
    line-height: 3.922vw;
  }
  table.table td {
    font-size: 2.353vw;
    line-height: 3.922vw;
  }

  //certificates
  .certificates {
    margin-bottom: 8.125vw;
  }
  .certificates-title {
    margin-bottom: 3.922vw;
  }

  .certificates-items {
    overflow: visible;
  }

  .certificates-wrapper {
    display: flex;
    grid-template-columns: auto;
    gap: 0;
  }

  .certificate {
    height: auto;
    filter: drop-shadow(0px 4.04676px 16.187px rgba(0, 0, 0, 0.25));
    border-radius: 1.046vw;
    overflow: hidden;
  }

  .certificate-img {
    width: 100%;
    height: calc(100% - 2vw);
  }
  .certificate-img__inner {
    display: none;
    height: 10.521vw;
  }
}

@include mobile {
  .single {
    padding-top: 21vw;
  }

  .single-product {
    gap: 4vw;
    margin-bottom: 10.667vw;

    &__title {
      font-size: 5.333vw;
      line-height: 8.933vw;
      margin-bottom: 2.667vw;
    }

    &__text {
      font-size: 4.267vw;
      line-height: 6.4vw;
      margin-bottom: 5.333vw;
    }

    &__btn {
      svg {
        width: 4.8vw;
        height: 5.6vw;
        &:first-child {
          right: 4vw;
        }
      }
    }
  }

  //swiper
  .single-swiper {
    height: 80vw;
    margin-bottom: 4vw;
  }

  .single-wrapper {
    height: 100%;
  }

  .single-slide {
    height: 100%;
    border-radius: 1.307vw;
  }

  .single-swiper__zoom {
    right: 3vw;
    bottom: 3vw;
    width: 7.467vw;
    height: 7.467vw;
  }

  //swiper-mini
  .single-mini {
    height: 26.667vw;
  }

  .single-slide__mini {
    height: calc(100% - 2.5vw);
    img {
      border-radius: 2.133vw;
    }
  }

  //active slide mini
  .single-swiper__mini .swiper-slide-thumb-active {
    &::after {
      bottom: -2.5vw;
      height: 0.8vw;
      border-radius: 2.667vw;
    }
  }

  //guarantee
  .guarantee {
    padding: 4.8vw 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.8vw;
    &__item {
      gap: 3.2vw;
      svg {
        width: 5.6vw;
        height: 5.6vw;
      }
      h4 {
        font-size: 4.267vw;
        line-height: 8vw;
      }
    }
  }

  //characteristic
  .characteristics {
    padding: 4vw 0;
    gap: 2.222vw;
  }

  .characteristic {
    gap: 2.667vw;
    &__title {
      font-size: 4.267vw;
      line-height: 8vw;
    }

    &__list {
      column-gap: 5vw;
      row-gap: 2vw;
    }

    &__item {
      font-size: 4.267vw;
      line-height: 7.467vw;
      padding-left: 3vw;
      &::before {
        top: 4vw;
        width: 1vw;
        height: 1vw;
      }
    }
  }
  //price-block
  .price-block {
    br {
      display: block;
    }
    padding: 4vw 0;
    &__text {
      font-size: 4.267vw;
      line-height: 8vw;
    }

    &__old {
      font-size: 5.333vw;
      line-height: 7.467vw;
      padding: 0 2vw;
    }

    &__new {
      font-size: 11.2vw;
      line-height: 16vw;
      padding-right: 2vw;
    }
  }

  //description
  .single-description.container {
    margin-bottom: -20vw;
  }

  .description-top {
    height: 108.8vw;
    border-radius: 0;
  }
  .description-title {
    left: 4vw;
    bottom: 37vw;
  }

  //characteristic-table
  .characteristics-table {
    margin-bottom: 8vw;
  }

  .characteristics__top-title {
    font-size: 5.867vw;
    line-height: 8vw;
  }
  .table-content {
    margin-bottom: 5.229vw;
  }

  table.table {
    margin-bottom: 4vw;
  }

  .simplebar-track.simplebar-horizontal {
    height: 1vw;
    border-radius: 2.667vw;
  }

  table.table td,
  table.table th {
    padding: 4vw 2.667vw;
    min-height: auto;
    height: auto;
  }

  table.table th {
    font-size: 4.267vw;
    line-height: 5vw;
  }
  table.table td {
    font-size: 4.267vw;
    line-height: 5vw;
  }

  //certificates
  .certificates {
    margin-bottom: 18.667vw;
  }
  .certificates-title {
    margin-bottom: 5.333vw;
  }

  .certificate {
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    border-radius: 1.995vw;
  }

  .certificate-img {
    width: 100%;
    height: calc(100% - 2vw);
  }
}
