/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;
  left: 1.5vw;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    position: relative;
    padding-left: 1.302vw;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.156vw;
      border: 0.052vw solid #000;
      border-radius: 0.15vw;
      width: 0.9vw;
      height: 0.9vw;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0.21vw;
      top: 0.35vw;
      width: 0.5vw;
      height: 0.5vw;
      box-sizing: border-box;
      background-color: var(--text-black);
      border-radius: 0.083vw;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}


