<section class="error">
  <div class="container error-container">
    <div class="products__top">
      <div class="products__top-descr">
        <h2 class="title-page">Страница не найдена? Ещё бы!</h2>
        <p class="text-page">
          На страницу 404 ещё надо уметь попасть, поэтому нажимай кнопку и
          забирай подарок <span>- 10%</span> скидка на первую покупку
        </p>
      </div>
      <div class="error-present">
        <button
          class="btn btn-reset btn--present"
          data-graph-path="modal-present"
          data-graph-animation="fadeInUp"
        >
          <span>Забрать подарок</span>
          <img
            loading="lazy"
            src="img/present.png"
            class="image"
            alt="Present"
          />
        </button>
      </div>
    </div>
    <div class="error-image">
      <picture>
        <source srcset="img/404.webp" type="image/webp" />
        <img loading="lazy" src="img/404.png" class="image" alt="404" />
      </picture>
    </div>
  </div>
</section>
