<section class="process about">
  <div class="process-top" style="background-image: url('../img/about.png')">
    <div class="container">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list list-reset">
          <li class="breadcrumbs__item-back">
            <a
              href="index.html"
              class="breadcrumbs__link breadcrumbs__link-back"
            >
              <svg>
                <use xlink:href="img/sprite.svg#back"></use>
              </svg>
              Назад
            </a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item-main">
            <a href="products-page.html" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item-main">
            <a
              href="products-page.html"
              class="breadcrumbs__link breadcrumbs__link--active"
              >О компании</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="single-description description container">
    <div class="description-wrapper process-wrapper">
      <h2 class="title-page description-top__title">О компании</h2>
      <div class="description-top process-wrapper__top">
        <div class="description-top__img">
          <picture>
            <source srcset="img/quote.webp" type="image/webp" />
            <img loading="lazy" src="img/quote.png" class="image" alt="Quote" />
          </picture>
        </div>
        <p class="description-top__text">
          Компания ФОЛДИН успешно выполняет полный спектр услуг, начиная от
          проектирования, заканчивая монтажом и постгарантийным обслуживанием
          раздвижных конструкций по всему миру
        </p>
      </div>

      <div class="description-items">
        <div class="description-item">
          <div class="description-left">
            <span>01</span>
            <h4>История компании</h4>
          </div>
          <div class="description-right">
            <p class="description-text">
              История компании ФОЛДИН - это многолетний опыт успешного
              сотрудничества, проектирования и производства качественных
              современных раздвижных конструкций. Наличие собственного
              производства позволяет удерживать приемлемые цены на продукцию.
            </p>

            <button
              class="price-btn btn btn-reset btn--primary"
              data-graph-path="main-modal"
              data-graph-animation="fadeInUp"
            >
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <span>Подробнее</span>
            </button>
          </div>
          <div class="description-img">
            <picture>
              <source srcset="img/about1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about1.png"
                class="image"
                alt="Process"
              />
            </picture>
          </div>
          <button
            class="mobile-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Подробнее</span>
          </button>
        </div>

        <div class="description-item">
          <div class="description-left">
            <span>02</span>
            <h4>Наша миссия</h4>
          </div>
          <div class="description-right">
            <p class="description-text">
              Разрабатывать, производить и внедрять качественные и современные
              звукоизоляционные раздвижные конструкции во всевозможные
              строительные проекты. Наша миссия - это забота об удобстве и
              прибыльности коммерческих и жилых помещений
            </p>

            <button
              class="price-btn btn btn-reset btn--primary"
              data-graph-path="main-modal"
              data-graph-animation="fadeInUp"
            >
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <span>Подробнее</span>
            </button>
          </div>
          <div class="description-img">
            <picture>
              <source srcset="img/about2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about2.png"
                class="image"
                alt="Process"
              />
            </picture>
          </div>
          <button
            class="mobile-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Подробнее</span>
          </button>
        </div>

        <div class="description-item">
          <div class="description-left">
            <span>03</span>
            <h4>Наши преимущества</h4>
          </div>
          <div class="description-right">
            <p class="description-text">
              Использование собственных уникальных конструкторских решений,
              производство по шведской технологии и многолетний опыт позволяют
              нам решать любые запросы клиента
            </p>

            <button
              class="price-btn btn btn-reset btn--primary"
              data-graph-path="main-modal"
              data-graph-animation="fadeInUp"
            >
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <span>Подробнее</span>
            </button>
          </div>
          <div class="description-img">
            <picture>
              <source srcset="img/about3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about3.png"
                class="image"
                alt="Process"
              />
            </picture>
          </div>
          <button
            class="mobile-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Подробнее</span>
          </button>
        </div>

        <div class="description-item">
          <div class="description-left">
            <span>04</span>
            <h4>Как мы работаем</h4>
          </div>
          <div class="description-right">
            <p class="description-text">
              Компания ФОЛДИН выполняет полный спектр услуг: проектирование,
              изготовление, поставка, монтаж, постгарантийное обслуживание по
              всему миру
            </p>

            <button
              class="price-btn btn btn-reset btn--primary"
              data-graph-path="main-modal"
              data-graph-animation="fadeInUp"
            >
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <span>Подробнее</span>
            </button>
          </div>
          <div class="description-img">
            <picture>
              <source srcset="img/about4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about4.png"
                class="image"
                alt="Process"
              />
            </picture>
          </div>
          <button
            class="mobile-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Подробнее</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="partners main-offset">
    <div class="partners-inner container">
      <div class="partners-descr">
        <h2 class="title-page">
          Наши <br />
          партнеры
        </h2>
        <p class="description-text">
          Мы ценим наших клиентов и благодарны им за выбор нашей компании в
          качестве поставщика решений управления пространством. Наши клиенты -
          это выставочные и конференц-залы, отели и гостиницы,
          общеобразовательные учреждения, рестораны и кафе, банки, фитнес и
          танцевальные клубы и многие другие отрасли бизнеса. А также частные
          лица, которые решили зонировать пространство в своей квартире.
        </p>
        <button
          class="partners-btn btn btn-reset btn--primary"
          data-da=".partners-inner,1200,last"
        >
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <span>Подробнее</span>
        </button>
      </div>
      <div class="partners-images">
        <div class="partners-img">
          <img
            loading="lazy"
            src="img/partner1.png"
            class="image"
            alt="Partner"
          />

          <img
            loading="lazy"
            src="img/partner6.png"
            class="image"
            alt="Partner"
          />
        </div>

        <div class="partners-img">
          <img
            loading="lazy"
            src="img/partner5.png"
            class="image"
            alt="Partner"
          />
          <img
            loading="lazy"
            src="img/partner2.png"
            class="image"
            alt="Partner"
          />
        </div>

        <div class="partners-img">
          <img
            loading="lazy"
            src="img/partner4.png"
            class="image"
            alt="Partner"
          />
          <img
            loading="lazy"
            src="img/partner3.png"
            class="image"
            alt="Partner"
          />
        </div>

        <div class="partners-img">
          <img
            loading="lazy"
            src="img/partner4.png"
            class="image"
            alt="Partner"
          />

          <img
            loading="lazy"
            src="img/partner3.png"
            class="image"
            alt="Partner"
          />
        </div>

        <div class="partners-img">
          <img
            loading="lazy"
            src="img/partner5.png"
            class="image"
            alt="Partner"
          />

          <img
            loading="lazy"
            src="img/partner2.png"
            class="image"
            alt="Partner"
          />
        </div>

        <div class="partners-img">
          <img
            loading="lazy"
            src="img/partner6.png"
            class="image"
            alt="Partner"
          />

          <img
            loading="lazy"
            src="img/partner1.png"
            class="image"
            alt="Partner"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="benefits main-offset container">
    <div class="products__top">
      <div class="products__top-descr">
        <h2 class="title-page products__top-title">Почему выбирают Фолдин</h2>
      </div>
    </div>
    <div class="benefits-items">
      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits1.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">На нас можно положиться</h3>
          <p class="benefits-text">
            Наша продукция помогает решить вопрос организации пространства
            качественно и своевременно
          </p>
          <span class="benefits-num">01</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits2.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Работаем с 2003 года</h3>
          <p class="benefits-text">
            Тысячи реализованных проектов, сотни постоянных покупателей, десятки
            нестандартных решений
          </p>
          <span class="benefits-num">02</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits3.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Честный бизнес</h3>
          <p class="benefits-text">
            Мы законопослушная компания на рынке раздвижных перегородок в России
            Мы нацелены на долгосрочные партнерские отношения
          </p>
          <span class="benefits-num">03</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits4.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits4.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Прозрачная работа</h3>
          <p class="benefits-text">
            Все этапы прохождения заказа вы сможете проследить и, более того,
            получить устное или письменное уведомление от вашего персонального
            менеджера
          </p>
          <span class="benefits-num">04</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits5.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits5.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Сертификаты</h3>
          <p class="benefits-text">
            Мы сертифицировали всю свою деятельность: сертификат СРО, пожарный
            сертификат, сертификат на продукцию
          </p>
          <span class="benefits-num">05</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits6.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits6.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Лидер по ассортименту</h3>
          <p class="benefits-text">
            У нас самый широкий ассортимент раздвижных перегородок и раздвижных
            стен. Собственное производство раздвижных перегородок по шведской
            технологии
          </p>
          <span class="benefits-num">06</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits7.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits7.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Гарантия качества</h3>
          <p class="benefits-text">
            Мы уверены в качестве наших товаров и качестве выполняемых работ,
            поэтому наша гарантия 3 года
          </p>
          <span class="benefits-num">07</span>
        </div>
      </div>

      <div class="benefits-item">
        <picture>
          <source srcset="img/benefits8.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefits8.png"
            class="image"
            alt="Benefits"
          />
        </picture>

        <div class="benefits-content">
          <h3 class="benefits-title">Качественный сервис</h3>
          <p class="benefits-text">
            Бесплатно рассчитаем раздвижную конструкцию по вашим требованиям.
            Определим порог звукоизоляции. Подготовим подробный чертеж
          </p>
          <span class="benefits-num">08</span>
        </div>
      </div>
    </div>
  </div>
</section>
