<section class="assortment main-offset">
  <div
    class="container assortment__container"
    style="background-image: url('img/assortment.png')"
  >
    <picture>
      <source srcset="img/book.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/book.png"
        class="image assortment-img"
        alt="Book"
      />
    </picture>

    <div class="assortment-content">
      <h2 class="title-page assortment-title">Полный ассортимент</h2>
      <p class="text-page assortment-text">
        Скачав <span>буклет</span> вы сможете более подробно ознакомиться с
        ассортиментом нашей продукции
      </p>
      <a
        href="http://axiomabio.com/pdf/test.pdf"
        target="_blank"
        download
        class="btn btn-reset btn--primary assortment-btn"
      >
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <span>Скачать буклет</span>
      </a>
    </div>
  </div>
</section>
