<section class="catalog main-offset">
  <div class="catalog__container container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <svg>
              <use xlink:href="img/sprite.svg#back"></use>
            </svg>
            Назад
          </a>
        </li>

        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="products-page.html" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Каталог</a
          >
        </li>
      </ul>
    </div>

    <h1 class="title-page catalog__title">Наша продукция</h1>

    <div class="catalog-products__sliders">
      <div class="catalog-product__slider">
        <div class="product-descr">
          <div class="product-descr__name">
            <h2 class="product-descr__title">Раздвижные стены</h2>
            <p class="product-descr__text">
              Раздвижная стена NORMA отличается высоким уровнем звукоизоляции и
              большим количеством паркингов. Стены представляют собой отдельные
              панели, передвигающиеся по потолочному треку
            </p>
            <div class="product-descr__bottom">
              <a
                href="http://axiomabio.com/pdf/test.pdf"
                target="_blank"
                download
                class="btn btn-reset btn--primary assortment-btn product-descr__btn"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <span>Скачать буклет</span>
              </a>

              <div class="hero-swiper__pagination slider-btns catalog-btns">
                <button class="catalog-prev btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
                <button class="catalog-next btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper catalog-swiper">
          <div class="swiper-wrapper catalog-swiper__wrapper">
            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <span class="catalog-slide__label">Хит продаж</span>
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog1.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Раздвижная стена NORMA</h3>
                </div>
              </div>
            </a>

            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog2.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Раздвижная стена NORMA 80</h3>
                </div>
              </div>
            </a>

            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog3.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Раздвижная стена Разборная НОРМА 100</h3>
                </div>
              </div>
            </a>

            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog4.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog4.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Раздвижная стена PARTHOS</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="catalog-product__slider">
        <div class="product-descr">
          <div class="product-descr__name">
            <h2 class="product-descr__title">Раздвижные перегородки</h2>
            <p class="product-descr__text">
              Раздвижные перегородки NORMA состоят из скрепленных петлями
              панелей, перемещающихся по прямой линии. Тонкие и легкие
              конструкции раскрываются за считанные секунды и имеют бесплатную
              дверь.
            </p>
            <div class="product-descr__bottom">
              <a
                href="http://axiomabio.com/pdf/test.pdf"
                target="_blank"
                download
                class="btn btn-reset btn--primary assortment-btn product-descr__btn"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <span>Скачать буклет</span>
              </a>

              <div class="hero-swiper__pagination slider-btns catalog-btns">
                <button class="catalog-prev btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
                <button class="catalog-next btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper catalog-swiper">
          <div class="swiper-wrapper catalog-swiper__wrapper">
            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <span class="catalog-slide__label">Новинка</span>
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog5.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog5.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Раздвижная перегородка NORMA</h3>
                </div>
              </div>
            </a>

            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog6.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog6.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>
                    Раздвижная перегородка NORMA с напольно-потолочным
                    креплением
                  </h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="catalog-product__slider">
        <div class="product-descr">
          <div class="product-descr__name">
            <h2 class="product-descr__title">Двери звукоизоляционные</h2>
            <p class="product-descr__text">
              Звукоизоляционная дверь NORMA - это уникальная противопожарная
              конструкция, не пропускающая звуки и запахи. Подходит как для
              коммерческих, так и для жилых помещений.
            </p>
            <div class="product-descr__bottom">
              <a
                href="http://axiomabio.com/pdf/test.pdf"
                target="_blank"
                download
                class="btn btn-reset btn--primary assortment-btn product-descr__btn"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <span>Скачать буклет</span>
              </a>

              <div class="hero-swiper__pagination slider-btns catalog-btns">
                <button class="catalog-prev btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
                <button class="catalog-next btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper catalog-swiper">
          <div class="swiper-wrapper catalog-swiper__wrapper">
            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <span class="catalog-slide__label">Акция</span>
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog7.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog7.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Дверь НОРМА звукоизоляционная</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="catalog-product__slider">
        <div class="product-descr">
          <div class="product-descr__name">
            <h2 class="product-descr__title">Интерьерные панели</h2>
            <p class="product-descr__text">
              Интерьерные панели NORMA — это идеальное решение для учебных
              пространств, офисов, детских и общественных учреждений. Панели
              изготавливаются из ЛДСП или негорючего СМЛ
            </p>
            <div class="product-descr__bottom">
              <a
                href="http://axiomabio.com/pdf/test.pdf"
                target="_blank"
                download
                class="btn btn-reset btn--primary assortment-btn product-descr__btn"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <span>Скачать буклет</span>
              </a>

              <div class="hero-swiper__pagination slider-btns catalog-btns">
                <button class="catalog-prev btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
                <button class="catalog-next btn-reset btn--small">
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper catalog-swiper">
          <div class="swiper-wrapper catalog-swiper__wrapper">
            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <span class="catalog-slide__label">Хит продаж</span>
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog8.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog8.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Акустические панели NORMA</h3>
                </div>
              </div>
            </a>

            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog9.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog9.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Магнитно-маркерные панели NORMA</h3>
                </div>
              </div>
            </a>

            <a href="page-single.html" class="swiper-slide catalog-slide">
              <div class="catalog-slide__item">
                <div class="catalog-slide__image">
                  <picture>
                    <source
                      srcset="img/catalog/catalog8.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/catalog/catalog8.png"
                      class="image"
                      alt="Product"
                    />
                  </picture>
                </div>
                <div class="catalog-slide__name">
                  <h3>Шумопоглощающие островки NORMA</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
