<section class="contacts main-offset">
  <div class="contacts__container container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <img loading="lazy" src="img/back.svg" class="image" alt="Back" />
            Назад
          </a>
        </li>

        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="products-page.html" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Контакты</a
          >
        </li>
      </ul>
    </div>
    <h1 class="title-page catalog__title">Наши контакты</h1>

    <div class="contacts-map">
      <a href="#" class="contacts-map__img">
        <picture>
          <source srcset="img/contacts.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/contacts.png"
            class="image contacts-map__link"
            alt="Map"
          />
        </picture>

        <img
          loading="lazy"
          src="img/marker.png"
          class="image contacts-map__marker"
          alt="Marker"
        />
      </a>
    </div>

    <div class="contacts-items">
      <div class="contacts-item">
        <div class="contacts-adress">
          <div class="contacts-adress__city">Батуми</div>
          <div class="contacts-adress__info">
            <div class="contacts-adress__place">
              <svg>
                <use xlink:href="img/sprite.svg#map"></use>
              </svg>
              <span
                >129626, пр. Мира, дом 102, строение 38, офис 102, 1 этаж</span
              >
            </div>
            <div class="contacts-adress__phone">
              <svg>
                <use xlink:href="img/sprite.svg#phone2"></use>
              </svg>
              <span>+7 (495) 085-05-80</span>
            </div>
          </div>
          <button
            class="contacts-adress__btn header__btn btn btn-reset"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <span>Заказать звонок</span>
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
          </button>
        </div>
        <div class="contacts-person">
          <h3 class="contacts-person__name">Иванов Иван</h3>
          <p class="contacts-person__profession">Менеджер проектов</p>
          <span class="contacts-person__mail">maxim.gavrilov@foldin.ru</span>
        </div>
      </div>

      <div class="contacts-item">
        <div class="contacts-adress">
          <div class="contacts-adress__city">Тбилиси</div>
          <div class="contacts-adress__info">
            <div class="contacts-adress__place">
              <svg>
                <use xlink:href="img/sprite.svg#map"></use>
              </svg>
              <span
                >129626, пр. Мира, дом 102, строение 38, офис 102, 1 этаж</span
              >
            </div>
            <div class="contacts-adress__phone">
              <svg>
                <use xlink:href="img/sprite.svg#phone2"></use>
              </svg>
              <span>+7 (495) 085-05-80</span>
            </div>
          </div>
          <button
            class="contacts-adress__btn header__btn btn btn-reset"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <span>Заказать звонок</span>
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
          </button>
        </div>
        <div class="contacts-person">
          <h3 class="contacts-person__name">Иванов Иван</h3>
          <p class="contacts-person__profession">Менеджер проектов</p>
          <span class="contacts-person__mail">maxim.gavrilov@foldin.ru</span>
        </div>
        <div class="contacts-person">
          <h3 class="contacts-person__name">Иванов Иван</h3>
          <p class="contacts-person__profession">Менеджер проектов</p>
          <span class="contacts-person__mail">maxim.gavrilov@foldin.ru</span>
        </div>
      </div>
    </div>
  </div>
</section>
