<section class="facts main-offset">
  <div class="container facts__container">
    <div class="products__top">
      <div class="products__top-descr">
        <h2 class="title-page products__top-title">Факты о компании фолдин</h2>
        <p class="text-page products__top-text">
          За 19 лет активной работы мы получили огромный опыт, собрали команду
          профессионалов и разработали собственные конструкции, превосходящие
          европейские аналоги.
        </p>
      </div>
      <a href="page-about.html" class="btn btn-reset btn--primary facts-btn">
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <span>О компании</span>
      </a>
    </div>

    <div class="facts-swiper swiper">
      <div class="facts-items facts-swiper__wrapper swiper-wrapper">
        <div class="facts-item fact fact-swiper__slide swiper-slide">
          <div class="fact-num">
            <span class="fact-num__big">01</span>
            <span class="fact-num__small">01</span>
          </div>
          <div class="fact-content">
            <div class="fact-img">
              <picture>
                <source srcset="img/fact1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/fact1.png"
                  class="image"
                  alt="Fact"
                />
              </picture>
            </div>
            <div class="fact-descr">
              <h3 class="fact-title">19 лет на рынке</h3>
              <p class="fact-text">
                Мы проводим полный цикл работ с раздвижными перегородками от
                замеров, проектирования и изготовления до монтажа и сдачи
                готовой конструкции под ключ.
              </p>
            </div>
            <a href="#" class="btn--secondary fact-btn">
              <span>01</span>
              <div>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>

        <div class="facts-item fact fact-swiper__slide swiper-slide">
          <div class="fact-num">
            <span class="fact-num__big">02</span>
            <span class="fact-num__small">02</span>
          </div>
          <div class="fact-content">
            <div class="fact-img">
              <picture>
                <source srcset="img/fact2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/fact2.png"
                  class="image"
                  alt="Fact"
                />
              </picture>
            </div>
            <div class="fact-descr">
              <h3 class="fact-title">
                9 лет эксклюзивный дистрибьютер продукции NORMA
              </h3>
              <p class="fact-text">
                Благодаря собственному производству мы предлагаем огромный
                ассортимент раздвижных конструкций и можем выполнять сложные
                нестандартные заказы. Мы уверены в своей продукции и даем
                гарантию до 3 лет.
              </p>
            </div>
            <a href="#" class="btn--secondary fact-btn">
              <span>02</span>
              <div>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>

        <div class="facts-item fact fact-swiper__slide swiper-slide">
          <div class="fact-num">
            <span class="fact-num__big">03</span>
            <span class="fact-num__small">03</span>
          </div>
          <div class="fact-content">
            <div class="fact-img">
              <picture>
                <source srcset="img/fact3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/fact3.png"
                  class="image"
                  alt="Fact"
                />
              </picture>
            </div>
            <div class="fact-descr">
              <h3 class="fact-title">Более 7000 конструкций по всему миру</h3>
              <p class="fact-text">
                Разрабатывать, производить и внедрять в строительные проекты
                качественные и современные звукоизоляционные раздвижные
                конструкции заботясь об удобстве, эффективности и прибыльности
                коммерческих, общественных и жилых помещений.
              </p>
            </div>
            <a href="#" class="btn--secondary fact-btn">
              <span>03</span>
              <div>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="hero-swiper__bottom">
        <a
          href="page-about.html"
          class="btn btn-reset btn--primary facts-swiper__btn"
        >
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <span>Подробнее</span>
        </a>
        <div class="hero-swiper__pagination">
          <button
            class="hero-swiper__btn-prev facts-swiper__prev recently-prev pagination-btn btn-reset btn--small"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
          </button>
          <div class="hero-swiper__fraction facts-swiper__fraction"></div>
          <button
            class="hero-swiper__btn-next facts-swiper__next recently-prev pagination-btn btn-reset btn--small"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
