<section class="facts main-offset">
  <div class="container facts__container">
    <div class="products__top">
      <div class="products__top-descr">
        <h2 class="title-page products__top-title">Примеры наших работ</h2>
        <p class="text-page products__top-text">
          Мы <span>ценим</span> каждого клиента и гордимся своими проектами.
          Наши конструкции позволяют создавать
          <span>многофункциональные</span> и
          <span>нестандартные</span> интерьеры.
        </p>
      </div>
      <button class="btn btn-reset btn--primary facts__top-btn">
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <span>Наши работы</span>
      </button>
    </div>
    <div class="facts-content">
      <div class="swiper facts-swiper">
        <div class="swiper-wrapper facts-wrapper">
          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>

          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>

          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>

          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>

          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>

          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>

          <div class="swiper-slide facts-slide">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="swiper facts-swiper__mini">
        <div class="swiper-wrapper facts-wrapper__mini">
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
          <div class="swiper-slide facts-slide__mini">
            <picture>
              <source srcset="img/facts1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/facts1.png"
                class="image"
                alt="Work"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="facts-pagination">
        <button class="facts__btn-prev btn-reset btn--tertiary">
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </button>
        <button class="facts__btn-next btn-reset btn--tertiary">
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
