<section class="feedback">
  <div class="container feedback__container">
    <div class="feedback-form">
      <h2 class="title-page feedback-title">Мы всегда на связи</h2>
      <p class="text-page feedback-text">
        Оставьте свои данные и мы свяжемся с вами любым удобным для вас способом
      </p>
      <form class="form">
        <label class="form__label">
          <svg>
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
          <input
            class="input-reset form__input form__input--name"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form__label">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <input
            class="input-reset form__input form__input--phone"
            placeholder="Ваш номер"
          />
        </label>
        <label class="form__label">
          <svg>
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          <input
            class="input-reset form__input form__input--mail"
            placeholder="E-mail"
          />
        </label>
        <button class="form__btn btn btn-reset btn--primary works__top-btn">
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <span>Отправить</span>
        </button>
        <label class="custom-checkbox">
          <input checked type="checkbox" class="custom-checkbox__field" />

          <span class="custom-checkbox__content"
            >Нажимая “отправить” я даю согласие на обработку персональных
            данных</span
          >
        </label>
      </form>
    </div>
  </div>
</section>
