<section class="hero">
  <div class="hero__container">
    <div class="swiper hero-swiper">
      <div class="swiper-wrapper hero-swiper__wrapper">
        <div class="swiper-slide hero-swiper__slide">
          <h1 class="title-page hero-swiper__title">
            Производство раздвижных стен и перегородок
          </h1>
          <div class="hero-swiper__text">
            <p class="text-page">
              <span>Лидер рынка</span> по ассортименту раздвижных
              звукоизоляционных конструкций
            </p>
            <p class="text-page">
              Собственное производство - <span>Завод НОРМА</span>
            </p>
            <p class="text-page">
              Полный цикл работ от разработки чертежей до монтажа конструкций
            </p>
            <p class="text-page">
              Установка продукции в частных, коммерческих и государственных
              помещениях
            </p>
          </div>
        </div>

        <div class="swiper-slide hero-swiper__slide">
          <h1 class="title-page">Производство раздвижных стен и перегородок</h1>
          <div class="hero-swiper__text">
            <p class="text-page">
              <span>Лидер рынка</span> по ассортименту раздвижных
              звукоизоляционных конструкций
            </p>
            <p class="text-page">
              Собственное производство - <span>Завод НОРМА</span>
            </p>
            <p class="text-page">
              Полный цикл работ от разработки чертежей до монтажа конструкций
            </p>
            <p class="text-page">
              Установка продукции в частных, коммерческих и государственных
              помещениях
            </p>
          </div>
        </div>

        <div class="swiper-slide hero-swiper__slide">
          <h1 class="title-page">Производство раздвижных стен и перегородок</h1>
          <div class="hero-swiper__text">
            <p class="text-page">
              <span>Лидер рынка</span> по ассортименту раздвижных
              звукоизоляционных конструкций
            </p>
            <p class="text-page">
              Собственное производство - <span>Завод НОРМА</span>
            </p>
            <p class="text-page">
              Полный цикл работ от разработки чертежей до монтажа конструкций
            </p>
            <p class="text-page">
              Установка продукции продукции в частных, коммерческих и
              государственных помещениях
            </p>
          </div>
        </div>
      </div>

      <div class="hero-swiper__bottom">
        <button class="hero-swiper__btn btn btn-reset btn--primary">
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <span>Подробнее</span>
        </button>
        <div class="hero-swiper__pagination">
          <button class="hero-swiper__btn-prev btn-reset btn--tertiary">
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
          </button>
          <div class="hero-swiper__fraction"></div>
          <button class="hero-swiper__btn-next btn-reset btn--tertiary">
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="hero-img">
      <picture>
        <source srcset="img/hero.webp" type="image/webp" />
        <img loading="lazy" src="img/hero.png" class="image" alt="Hero" />
      </picture>
    </div>
  </div>
</section>
