<div class="graph-modal modal">
  <div
    class="graph-modal__container modal-container modal-main"
    role="dialog"
    aria-modal="true"
    data-graph-target="main-modal"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-form feedback-form">
        <h2 class="title-page feedback-title modal-title">обратный звонок</h2>
        <p class="text-page feedback-text modal-text">
          Оставьте заявку и наш менеджер перезвонит вам в течение 15 минут
        </p>
        <form class="form">
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            <input
              class="input-reset form__input form__input--name"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <input
              class="input-reset form__input form__input--phone"
              placeholder="Ваш номер"
            />
          </label>
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            <input
              class="input-reset form__input form__input--mail"
              placeholder="E-mail"
            />
          </label>
          <button class="form__btn btn btn-reset btn--primary modal-btn">
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Отправить</span>
          </button>
          <label class="custom-checkbox modal-checkbox">
            <input checked type="checkbox" class="custom-checkbox__field" />

            <span class="custom-checkbox__content"
              >Нажимая “отправить” я даю согласие на обработку персональных
              данных</span
            >
          </label>
        </form>
      </div>
      <div class="modal-img">
        <picture>
          <source srcset="img/modal1.webp" type="image/webp" />
          <img loading="lazy" src="img/modal1.png" class="image" alt="Modal" />
        </picture>
      </div>
    </div>
  </div>

  <div
    class="graph-modal__container modal-container modal-discount"
    role="dialog"
    aria-modal="true"
    data-graph-target="discount-modal"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-img">
        <picture>
          <source srcset="img/discount.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/discount.png"
            class="image"
            alt="Modal"
          />
        </picture>
      </div>
      <div class="modal-form feedback-form">
        <h2 class="title-page feedback-title modal-title">
          Оставь заявку и получи <span>скидку 10%</span>
        </h2>
        <form class="form">
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            <input
              class="input-reset form__input form__input--name"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <input
              class="input-reset form__input form__input--phone"
              placeholder="Ваш номер"
            />
          </label>
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            <input
              class="input-reset form__input form__input--mail"
              placeholder="E-mail"
            />
          </label>
          <button class="form__btn btn btn-reset btn--primary modal-btn">
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Отправить</span>
          </button>
          <label class="custom-checkbox modal-checkbox">
            <input checked type="checkbox" class="custom-checkbox__field" />

            <span class="custom-checkbox__content"
              >Нажимая “отправить” я даю согласие на обработку персональных
              данных</span
            >
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
