<section class="portfolio-single">
  <div class="container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <svg>
              <use xlink:href="img/sprite.svg#back"></use>
            </svg>
            Назад
          </a>
        </li>

        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="products-page.html" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Наши проекты</a
          >
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
          >
            Раздвижные стены в школьном конференц-зале</a
          >
        </li>
      </ul>
    </div>

    <div class="portfolio-single__wrapper">
      <div class="products__top portfolio-single__top">
        <div class="products__top-descr portfolio-single__top-descr">
          <h2
            class="title-page products__top-title portfolio-single__top-title"
          >
            Раздвижные стены в школьном конференц-зале
          </h2>
        </div>
        <button
          class="btn btn-reset btn--primary portfolio-single__btn"
          data-graph-path="main-modal"
          data-graph-animation="fadeInUp"
        >
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <span>Хочу такой проект</span>
        </button>
      </div>
      <div class="portfolio-single__images">
        <div class="portfolio-single__img">
          <picture>
            <source srcset="img/portfolio-single.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/portfolio-single.png"
              class="image"
              alt="Portfolio"
            />
          </picture>
        </div>

        <div class="portfolio-single__img">
          <picture>
            <source srcset="img/portfolio-single.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/portfolio-single.png"
              class="image"
              alt="Portfolio"
            />
          </picture>
        </div>

        <div class="portfolio-single__img">
          <picture>
            <source srcset="img/portfolio-single.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/portfolio-single.png"
              class="image"
              alt="Portfolio"
            />
          </picture>
        </div>

        <div class="portfolio-single__img">
          <picture>
            <source srcset="img/portfolio-single.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/portfolio-single.png"
              class="image"
              alt="Portfolio"
            />
          </picture>
        </div>

        <div class="portfolio-single__img">
          <picture>
            <source srcset="img/portfolio-single.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/portfolio-single.png"
              class="image"
              alt="Portfolio"
            />
          </picture>
        </div>
      </div>
      <div class="portfolio-single__descr">
        <div class="portfolio-single__item">
          <h3 class="portfolio-single__title">Характеристики</h3>

          <div class="portfolio-single__characteristics characteristics">
            <div class="portfolio-single__characteristic characteristic">
              <h3 class="characteristic__title">Город</h3>
              <ul class="characteristic__list list-reset">
                <li class="characteristic__item">Батуми</li>
              </ul>
            </div>

            <div class="portfolio-single__characteristic characteristic">
              <h3 class="characteristic__title">Продукция</h3>
              <ul class="characteristic__list list-reset">
                <li class="characteristic__item">Раздвижные стены</li>
              </ul>
            </div>

            <div class="characteristic portfolio-single__characteristic">
              <h3 class="characteristic__title">Звукоизоляция</h3>
              <ul class="characteristic__list list-reset">
                <li class="characteristic__item">50дБ</li>
              </ul>
            </div>

            <div class="characteristic portfolio-single__characteristic">
              <h3 class="characteristic__title">Отделка</h3>
              <ul class="characteristic__list list-reset">
                <li class="characteristic__item">
                  Покрытие СМЛ, класс пожарной опасности К0 по RAL 9016
                </li>
              </ul>
            </div>

            <div class="characteristic portfolio-single__characteristic">
              <h3 class="characteristic__title">Размеры</h3>
              <ul class="characteristic__list list-reset">
                <li class="characteristic__item">Длина - 11780 мм</li>
                <li class="characteristic__item">Высота - 1994 - 6640 мм</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-single__item">
          <h3 class="portfolio-single__title">Описание</h3>
          <p class="portfolio-single__text">
            Конференц-зал в современной школе в Левобережном отныне разделен
            раздвижной стеной! Вследствие стало очень удобно проводить лекции,
            семинары, мероприятия параллельно друг с другом! За счет
            эффективного разделения пространства ученики не мешают друг другу.
            <br />
            Стеновые панели надежно закреплены внизу выдвигающимися стопорами
            для надежности. Конструкция установлена с учетом ступенчатой системы
            рассадки. В закрытом виде они делят пространство на два независимых
            помещения и представляют собой глухую стену. Или могут легко
            убираться в паркинг сбоку.
          </p>
        </div>
      </div>
    </div>

    <div class="recently">
      <div class="products__top characteristics-table__top">
        <div class="products__top-descr">
          <h2 class="title-page characteristics__top-title">
            Недавно смотрели
          </h2>

          <div class="recently-btns">
            <button class="recently-prev pagination-btn btn-reset btn--small">
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </button>

            <button class="recently-next pagination-btn btn-reset btn--small">
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="swiper recently-swiper">
        <div class="swiper-wrapper recently-wrapper">
          <div class="swiper-slide recently-slide">
            <div class="portfolio-column">
              <div class="portfolio-item">
                <div class="portfolio-item__img">
                  <div class="swiper portfolio-swiper__img">
                    <div class="swiper-wrapper portfolio-wrapper__img">
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                    </div>
                    <div class="portfolio-swiper__pagination"></div>
                  </div>
                </div>
                <h3 class="portfolio-item__title">
                  Раздвижные стены в школьном конференц-зале
                </h3>
                <p class="portfolio-item__text">
                  Конференц-зал в современной школе в Левобережном отныне
                  разделен раздвижной стеной! Вследствие стало очень удобно
                  проводить лекции, семинары, мероприятия параллельно друг с
                  другом! За счет эффективного разделения пространства ученики
                  не мешают друг другу.
                </p>
                <a
                  href="page-portfolio-single.html"
                  class="portfolio-item__btn btn btn-reset btn--primary"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <span>Подробнее</span>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide recently-slide">
            <div class="portfolio-column">
              <div class="portfolio-item">
                <div class="portfolio-item__img">
                  <div class="swiper portfolio-swiper__img">
                    <div class="swiper-wrapper portfolio-wrapper__img">
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                    </div>
                    <div class="portfolio-swiper__pagination"></div>
                  </div>
                </div>
                <h3 class="portfolio-item__title">
                  Раздвижные стены в школьном конференц-зале
                </h3>
                <p class="portfolio-item__text">
                  Конференц-зал в современной школе в Левобережном отныне
                  разделен раздвижной стеной! Вследствие стало очень удобно
                  проводить лекции, семинары, мероприятия параллельно друг с
                  другом! За счет эффективного разделения пространства ученики
                  не мешают друг другу.
                </p>
                <a
                  href="page-portfolio-single.html"
                  class="portfolio-item__btn btn btn-reset btn--primary"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <span>Подробнее</span>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide recently-slide">
            <div class="portfolio-column">
              <div class="portfolio-item">
                <div class="portfolio-item__img">
                  <div class="swiper portfolio-swiper__img">
                    <div class="swiper-wrapper portfolio-wrapper__img">
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                    </div>
                    <div class="portfolio-swiper__pagination"></div>
                  </div>
                </div>
                <h3 class="portfolio-item__title">
                  Раздвижные стены в школьном конференц-зале
                </h3>
                <p class="portfolio-item__text">
                  Конференц-зал в современной школе в Левобережном отныне
                  разделен раздвижной стеной! Вследствие стало очень удобно
                  проводить лекции, семинары, мероприятия параллельно друг с
                  другом! За счет эффективного разделения пространства ученики
                  не мешают друг другу.
                </p>
                <a
                  href="page-portfolio-single.html"
                  class="portfolio-item__btn btn btn-reset btn--primary"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <span>Подробнее</span>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide recently-slide">
            <div class="portfolio-column">
              <div class="portfolio-item">
                <div class="portfolio-item__img">
                  <div class="swiper portfolio-swiper__img">
                    <div class="swiper-wrapper portfolio-wrapper__img">
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                    </div>
                    <div class="portfolio-swiper__pagination"></div>
                  </div>
                </div>
                <h3 class="portfolio-item__title">
                  Раздвижные стены в школьном конференц-зале
                </h3>
                <p class="portfolio-item__text">
                  Конференц-зал в современной школе в Левобережном отныне
                  разделен раздвижной стеной! Вследствие стало очень удобно
                  проводить лекции, семинары, мероприятия параллельно друг с
                  другом! За счет эффективного разделения пространства ученики
                  не мешают друг другу.
                </p>
                <a
                  href="page-portfolio-single.html"
                  class="portfolio-item__btn btn btn-reset btn--primary"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <span>Подробнее</span>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide recently-slide">
            <div class="portfolio-column">
              <div class="portfolio-item">
                <div class="portfolio-item__img">
                  <div class="swiper portfolio-swiper__img">
                    <div class="swiper-wrapper portfolio-wrapper__img">
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                      <div class="swiper-slide portfolio-slide__img">
                        <picture>
                          <source
                            srcset="img/portfolio.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/portfolio.png"
                            class="image"
                            alt="Portfolio"
                          />
                        </picture>
                      </div>
                    </div>
                    <div class="portfolio-swiper__pagination"></div>
                  </div>
                </div>
                <h3 class="portfolio-item__title">
                  Раздвижные стены в школьном конференц-зале
                </h3>
                <p class="portfolio-item__text">
                  Конференц-зал в современной школе в Левобережном отныне
                  разделен раздвижной стеной! Вследствие стало очень удобно
                  проводить лекции, семинары, мероприятия параллельно друг с
                  другом! За счет эффективного разделения пространства ученики
                  не мешают друг другу.
                </p>
                <a
                  href="page-portfolio-single.html"
                  class="portfolio-item__btn btn btn-reset btn--primary"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <svg>
                    <use xlink:href="img/sprite.svg#bottom"></use>
                  </svg>
                  <span>Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
