<section class="price main-offset">
  <div class="container price__container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <svg>
              <use xlink:href="img/sprite.svg#back"></use>
            </svg>
            Назад
          </a>
        </li>

        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="products-page.html" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Стоимость</a
          >
        </li>
      </ul>
    </div>

    <h1 class="title-page catalog__title">Стоимость</h1>

    <div class="price-wrapper">
      <div class="price-item">
        <div class="swiper price-swiper">
          <div class="swiper-wrapper price-swiper__wrapper">
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
          </div>
          <div class="price-swiper__pagination"></div>
        </div>
        <div class="price-descr">
          <h1 class="single-product__title">Раздвижная перегородка NORMA</h1>
          <p class="single-product__text">
            Раздвижная перегородка NORMA – это пожаробезопасная и
            звукоизоляционная конструкция, созданная по принципу «гармошки».
            Система состоит из отдельных панелей, которые по потолочному треку
            перемещаются в парковочную зону. Конструкция скрепляется
            специальными петлями и фиксируется в исходном положении магнитными
            защелками. Открывать раздвижную стену может даже ребенок.
          </p>

          <div class="single-product__guarantee guarantee">
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee1"></use>
              </svg>
              <h4>Производство от 7 дней</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee2"></use>
              </svg>
              <h4>Гарантия 36 мес.</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee3"></use>
              </svg>
              <h4>Звукоизоляция 40, 43, 47 дБ</h4>
            </div>
          </div>

          <div class="single-product__size size">
            <p class="size__text">
              Стоимость от <span class="size__old">280</span>
              <span class="size__new">260</span> $/м2 без НДС
            </p>
          </div>

          <button
            class="price-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Мне подходит</span>
          </button>
        </div>
      </div>

      <div class="price-item">
        <div class="swiper price-swiper">
          <div class="swiper-wrapper price-swiper__wrapper">
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
          </div>
          <div class="price-swiper__pagination"></div>
        </div>
        <div class="price-descr">
          <h1 class="single-product__title">Раздвижная перегородка NORMA</h1>
          <p class="single-product__text">
            Раздвижная перегородка NORMA – это пожаробезопасная и
            звукоизоляционная конструкция, созданная по принципу «гармошки».
            Система состоит из отдельных панелей, которые по потолочному треку
            перемещаются в парковочную зону. Конструкция скрепляется
            специальными петлями и фиксируется в исходном положении магнитными
            защелками. Открывать раздвижную стену может даже ребенок.
          </p>

          <div class="single-product__guarantee guarantee">
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee1"></use>
              </svg>
              <h4>Производство от 7 дней</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee2"></use>
              </svg>
              <h4>Гарантия 36 мес.</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee3"></use>
              </svg>
              <h4>Звукоизоляция 40, 43, 47 дБ</h4>
            </div>
          </div>

          <div class="single-product__size size">
            <p class="size__text">
              Стоимость от <span class="size__old">280</span>
              <span class="size__new">260</span> $/м2 без НДС
            </p>
          </div>

          <button
            class="price-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Мне подходит</span>
          </button>
        </div>
      </div>

      <div class="price-item">
        <div class="swiper price-swiper">
          <div class="swiper-wrapper price-swiper__wrapper">
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
          </div>
          <div class="price-swiper__pagination"></div>
        </div>
        <div class="price-descr">
          <h1 class="single-product__title">Раздвижная перегородка NORMA</h1>
          <p class="single-product__text">
            Раздвижная перегородка NORMA – это пожаробезопасная и
            звукоизоляционная конструкция, созданная по принципу «гармошки».
            Система состоит из отдельных панелей, которые по потолочному треку
            перемещаются в парковочную зону. Конструкция скрепляется
            специальными петлями и фиксируется в исходном положении магнитными
            защелками. Открывать раздвижную стену может даже ребенок.
          </p>

          <div class="single-product__guarantee guarantee">
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee1"></use>
              </svg>
              <h4>Производство от 7 дней</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee2"></use>
              </svg>
              <h4>Гарантия 36 мес.</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee3"></use>
              </svg>
              <h4>Звукоизоляция 40, 43, 47 дБ</h4>
            </div>
          </div>

          <div class="single-product__size size">
            <p class="size__text">
              Стоимость от <span class="size__old">280</span>
              <span class="size__new">260</span> $/м2 без НДС
            </p>
          </div>

          <button
            class="price-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Мне подходит</span>
          </button>
        </div>
      </div>

      <div class="price-item">
        <div class="swiper price-swiper">
          <div class="swiper-wrapper price-swiper__wrapper">
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
          </div>
          <div class="price-swiper__pagination"></div>
        </div>
        <div class="price-descr">
          <h1 class="single-product__title">Раздвижная перегородка NORMA</h1>
          <p class="single-product__text">
            Раздвижная перегородка NORMA – это пожаробезопасная и
            звукоизоляционная конструкция, созданная по принципу «гармошки».
            Система состоит из отдельных панелей, которые по потолочному треку
            перемещаются в парковочную зону. Конструкция скрепляется
            специальными петлями и фиксируется в исходном положении магнитными
            защелками. Открывать раздвижную стену может даже ребенок.
          </p>

          <div class="single-product__guarantee guarantee">
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee1"></use>
              </svg>
              <h4>Производство от 7 дней</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee2"></use>
              </svg>
              <h4>Гарантия 36 мес.</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee3"></use>
              </svg>
              <h4>Звукоизоляция 40, 43, 47 дБ</h4>
            </div>
          </div>

          <div class="single-product__size size">
            <p class="size__text">
              Стоимость от <span class="size__old">280</span>
              <span class="size__new">260</span> $/м2 без НДС
            </p>
          </div>

          <button
            class="price-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Мне подходит</span>
          </button>
        </div>
      </div>

      <div class="price-item">
        <div class="swiper price-swiper">
          <div class="swiper-wrapper price-swiper__wrapper">
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
          </div>
          <div class="price-swiper__pagination"></div>
        </div>
        <div class="price-descr">
          <h1 class="single-product__title">Раздвижная перегородка NORMA</h1>
          <p class="single-product__text">
            Раздвижная перегородка NORMA – это пожаробезопасная и
            звукоизоляционная конструкция, созданная по принципу «гармошки».
            Система состоит из отдельных панелей, которые по потолочному треку
            перемещаются в парковочную зону. Конструкция скрепляется
            специальными петлями и фиксируется в исходном положении магнитными
            защелками. Открывать раздвижную стену может даже ребенок.
          </p>

          <div class="single-product__guarantee guarantee">
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee1"></use>
              </svg>
              <h4>Производство от 7 дней</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee2"></use>
              </svg>
              <h4>Гарантия 36 мес.</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee3"></use>
              </svg>
              <h4>Звукоизоляция 40, 43, 47 дБ</h4>
            </div>
          </div>

          <div class="single-product__size size">
            <p class="size__text">
              Стоимость от <span class="size__old">280</span>
              <span class="size__new">260</span> $/м2 без НДС
            </p>
          </div>

          <button
            class="price-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Мне подходит</span>
          </button>
        </div>
      </div>

      <div class="price-item">
        <div class="swiper price-swiper">
          <div class="swiper-wrapper price-swiper__wrapper">
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
            <div class="swiper-slide price-swiper__slide">
              <picture>
                <source srcset="img/price.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/price.png"
                  class="image"
                  alt="Price"
                />
              </picture>
            </div>
          </div>
          <div class="price-swiper__pagination"></div>
        </div>
        <div class="price-descr">
          <h1 class="single-product__title">Раздвижная перегородка NORMA</h1>
          <p class="single-product__text">
            Раздвижная перегородка NORMA – это пожаробезопасная и
            звукоизоляционная конструкция, созданная по принципу «гармошки».
            Система состоит из отдельных панелей, которые по потолочному треку
            перемещаются в парковочную зону. Конструкция скрепляется
            специальными петлями и фиксируется в исходном положении магнитными
            защелками. Открывать раздвижную стену может даже ребенок.
          </p>

          <div class="single-product__guarantee guarantee">
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee1"></use>
              </svg>
              <h4>Производство от 7 дней</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee2"></use>
              </svg>
              <h4>Гарантия 36 мес.</h4>
            </div>
            <div class="guarantee__item">
              <svg>
                <use xlink:href="img/sprite.svg#guarantee3"></use>
              </svg>
              <h4>Звукоизоляция 40, 43, 47 дБ</h4>
            </div>
          </div>

          <div class="single-product__size size">
            <p class="size__text">
              Стоимость от <span class="size__old">280</span>
              <span class="size__new">260</span> $/м2 без НДС
            </p>
          </div>

          <button
            class="price-btn btn btn-reset btn--primary"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#bottom"></use>
            </svg>
            <span>Мне подходит</span>
          </button>
        </div>
      </div>
    </div>

    <div class="portfolio-pagination pagination">
      <ul class="pagination-list list-reset">
        <a href="#" class="pagination-btn btn-reset btn--small">
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </a>
        <li class="pagination-item pagination-item--active">1</li>
        <li class="pagination-item">2</li>
        <li class="pagination-item">3</li>
        <li class="pagination-item">4</li>
        <li class="pagination-item">...</li>
        <a href="#" class="pagination-btn btn-reset btn--small">
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
          <svg>
            <use xlink:href="img/sprite.svg#bottom"></use>
          </svg>
        </a>
      </ul>
    </div>
  </div>
</section>
