<section class="products main-offset">
  <div class="container">
    <div class="products__top">
      <div class="products__top-descr">
        <h2 class="title-page products__top-title">Наша продукция</h2>
        <p class="text-page products__top-text">
          С <span>полным перечнем</span> нашей продукции можно ознакомиться,
          перейдя в <span>каталог</span>
        </p>
      </div>
      <a href="#" class="btn btn-reset btn--primary products__top-btn">
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <svg>
          <use xlink:href="img/sprite.svg#bottom"></use>
        </svg>
        <span>Перейти в каталог</span>
      </a>
    </div>
    <div class="products__items">
      <div class="products__item">
        <article class="product-card">
          <div class="product-card__img">
            <picture>
              <source srcset="img/products1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/products1.png"
                class="image"
                alt="Product"
              />
            </picture>
          </div>
          <h3 class="product-card__title">Раздвижные перегородки</h3>
          <p class="product-card__text">
            Уникальная конструкция типа “гармошка”. Пожаробезопасная и
            звукоизоляционная. Состоит из отдельных панелей, которые скрепляются
            между собой специальными петлями, перемещаются по потолочному треку
            и собираются в парковочную зону.
          </p>
          <a href="#" class="btn--secondary product-card__btn">
            <span>01</span>
            <div>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </div>
          </a>
        </article>
      </div>

      <div class="products__item">
        <article class="product-card">
          <div class="product-card__img">
            <picture>
              <source srcset="img/products2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/products2.png"
                class="image"
                alt="Product"
              />
            </picture>
          </div>
          <h3 class="product-card__title">Раздвижные стены</h3>
          <p class="product-card__text">
            Практичная и надежная конструкция, которая не только разделит
            помещения по любой траектории, но и обеспечит высокий уровень
            звукоизоляции. Огнеупорная. Состоит из отдельных панелей,
            перемещающихся по потолочному треку.
          </p>
          <a href="#" class="btn--secondary product-card__btn">
            <span>02</span>
            <div>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </div>
          </a>
        </article>
      </div>

      <div class="products__item">
        <article class="product-card">
          <div class="product-card__img">
            <picture>
              <source srcset="img/products3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/products3.png"
                class="image"
                alt="Product"
              />
            </picture>
          </div>
          <h3 class="product-card__title">Звукоизоляционные двери</h3>
          <p class="product-card__text">
            Пожаростойкие двери с высоким уровнем звукоизоляции имеют жесткий
            алюминиевый каркас, сохраняющий первоначальный вид двери на долгие
            годы. Уплотнители не пропускают звуки и запахи. В двери встроен
            скрытый доводчик.
          </p>
          <a href="#" class="btn--secondary product-card__btn">
            <span>03</span>
            <div>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </div>
          </a>
        </article>
      </div>

      <div class="products__item">
        <article class="product-card">
          <div class="product-card__img">
            <picture>
              <source srcset="img/products4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/products4.png"
                class="image"
                alt="Product"
              />
            </picture>
          </div>
          <h3 class="product-card__title">Интерьерные панели</h3>
          <p class="product-card__text">
            Интерьерные панели NORMA — это идеальное решение для учебных
            пространств, офисов, детских и общественных учреждений. Панели
            изготавливаются из ЛДСП или негорючего СМЛ
          </p>
          <a href="#" class="btn--secondary product-card__btn">
            <span>04</span>
            <div>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
