<section class="quote main-offset">
  <div class="quote__container">
    <div class="quote-content">
      <picture>
        <source srcset="img/quote.webp" type="image/webp" />
        <img loading="lazy" src="img/quote.png" class="image" alt="Quote" />
      </picture>
      <p class="quote-text">
        Фолдин - это успешный многолетний опыт сотрудничества, проектирования и
        производства высококачественных раздвижных конструкций
      </p>
    </div>
    <div class="quote-animation">
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
      <div class="quote-animation__column">
        <div class="quote-animation__item"></div>
      </div>
    </div>
  </div>
</section>
