<section class="single">
  <div class="single__container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <img loading="lazy" src="img/back.svg" class="image" alt="Back" />
            Назад
          </a>
        </li>

        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="products-page.html" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="products-page.html" class="breadcrumbs__link">Каталог</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Раздвижная перегородка NORMA</a
          >
        </li>
      </ul>
    </div>

    <div class="single-product container">
      <div class="single-product__slider">
        <div class="swiper single-swiper">
          <div class="swiper-wrapper single-wrapper">
            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/work1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/work1.png"
                  class="image"
                  alt="Work"
                />
              </picture>
            </div>
          </div>

          <img
            loading="lazy"
            src="img/zoom.svg"
            class="image single-swiper__zoom"
            alt="Zoom"
          />
        </div>

        <div class="single-mini">
          <div class="swiper single-swiper__mini">
            <div class="swiper-wrapper single-wrapper__mini">
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
              <div class="swiper-slide single-slide__mini">
                <picture>
                  <source srcset="img/work1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/work1.png"
                    class="image"
                    alt="Work"
                  />
                </picture>
              </div>
            </div>
          </div>

          <div class="single-pagination">
            <button
              class="single__btn-prev pagination-btn btn-reset btn--small"
            >
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </button>

            <button
              class="single__btn-next pagination-btn btn-reset btn--small"
            >
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="single-product__descr">
        <h1 class="single-product__title" data-da=".single-product,1200,first">
          Раздвижная перегородка NORMA
        </h1>
        <p class="single-product__text">
          Превратить одно большое пространство в два независимых помещения за
          считанные секунды - теперь это реально! Раздвижные перегородки NORMA
          быстро и легко разделят помещение, выстроившись как полноценная стена
          с дверью. В случае необходимости, также быстро можно убрать панели в
          парковочную зону и вернуть общее помещение.
        </p>

        <div class="single-product__guarantee guarantee">
          <div class="guarantee__item">
            <svg>
              <use xlink:href="img/sprite.svg#guarantee1"></use>
            </svg>
            <h4>Производство от 7 дней</h4>
          </div>
          <div class="guarantee__item">
            <svg>
              <use xlink:href="img/sprite.svg#guarantee2"></use>
            </svg>
            <h4>Гарантия 36 мес.</h4>
          </div>
          <div class="guarantee__item">
            <svg>
              <use xlink:href="img/sprite.svg#guarantee3"></use>
            </svg>
            <h4>Звукоизоляция 40, 43, 47 дБ</h4>
          </div>
        </div>

        <div class="single-product__characteristics characteristics">
          <div class="characteristic">
            <h3 class="characteristic__title">Размеры</h3>
            <ul class="characteristic__list list-reset">
              <li class="characteristic__item">Длина - до 15 000 мм.</li>
              <li class="characteristic__item">Высота - до 5 900 мм.</li>
              <li class="characteristic__item">Толщина - 83 мм.</li>
            </ul>
          </div>

          <div class="characteristic">
            <h3 class="characteristic__title">Материал отделки</h3>
            <ul class="characteristic__list list-reset">
              <li class="characteristic__item">Шпон</li>
              <li class="characteristic__item">СМЛ</li>
              <li class="characteristic__item">Ткань</li>
              <li class="characteristic__item">Войлок</li>
              <li class="characteristic__item">ЛДСП</li>
              <li class="characteristic__item">Стеклянные вставки</li>
              <li class="characteristic__item">Окрас по каталогу RAL</li>
              <li class="characteristic__item">Магнитно-маркерное покрытие</li>
            </ul>
          </div>

          <div class="characteristic">
            <h3 class="characteristic__title">Тип механизма</h3>
            <ul class="characteristic__list list-reset">
              <li class="characteristic__item">Раскрытие от стены к стене</li>
              <li class="characteristic__item">Раскрытие от центра к стенам</li>
            </ul>
          </div>
        </div>

        <div class="single-product__price-block price-block">
          <p class="price-block__text">
            Стоимость от <br />
            <span class="price-block__old">280</span>
            <span class="price-block__new">260</span> $/м2 без НДС
          </p>
        </div>

        <div class="single-product__btns">
          <button
            class="btn btn-reset btn--primary single-product__btn"
            data-graph-path="main-modal"
            data-graph-animation="fadeInUp"
          >
            <svg>
              <use xlink:href="img/sprite.svg#calc"></use>
            </svg>
            <span>Заказать расчет</span>
          </button>
        </div>
      </div>
    </div>

    <div class="single-description description container">
      <div
        class="description-top"
        style="background-image: url('img/single-description.png')"
      >
        <h2 class="title-page description-title">Описание</h2>
      </div>
      <div class="description-wrapper">
        <div class="description-item">
          <div class="description-left">
            <span>01</span>
            <h4>Общие данные</h4>
          </div>
          <div class="description-right">
            <p class="description-text">
              Раздвижная перегородка Norma - это уникальная конструкция типа
              “гармошка”. Пожаробезопасная и звукоизоляционная. Состоит из
              отдельных панелей, которые скрепляются между собой специальными
              петлями, перемещаются по потолочному треку и собираются в
              парковочную зону. Для фиксации конструкции в заданном положении
              используются магнитные защелки. Открывать и закрывать магнитную
              стену настолько легко, что с этим справится даже ребенок.
            </p>
            <p class="description-text">
              Наличие собственного производства позволяет компании ФОЛДИН
              осуществлять в кратчайшие сроки самые необычные и сложные заказы.
            </p>
          </div>
        </div>

        <div class="description-item">
          <div class="description-left">
            <span>02</span>
            <h4>Преимущества</h4>
          </div>
          <ul class="description-right description-list list-reset">
            <li class="description-list__item characteristic__item">
              Легкость и быстрота эксплуатации
            </li>
            <li class="description-list__item characteristic__item">
              Магнитные вставки в торцах панелей
            </li>
            <li class="description-list__item characteristic__item">
              Бесплатная дверь
            </li>
            <li class="description-list__item characteristic__item">
              Управляющая ручка спрятана в торце панели
            </li>
          </ul>
        </div>

        <div class="description-item">
          <div class="description-left">
            <span>03</span>
            <h4>Доставка</h4>
          </div>
          <div class="description-right">
            <p class="description-text">
              Купите раздвижную перегородку с доставкой по Москве,
              Санкт-Петербургу и другим городам России прямо сейчас. Или
              свяжитесь с нашими менеджерами по телефону, если у вас есть
              готовый проект!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="characteristics-table container">
      <div class="products__top characteristics-table__top">
        <div class="products__top-descr characteristic__top-descr">
          <h2 class="title-page characteristics__top-title">
            Технические характеристики раздвижных перегородок
          </h2>
        </div>

        <button
          class="btn btn-reset btn--primary single-product__btn"
          data-graph-path="main-modal"
          data-graph-animation="fadeInUp"
          data-da=".characteristics-table,1200,last"
        >
          <svg>
            <use xlink:href="img/sprite.svg#calc"></use>
          </svg>
          <span>Рассчитать мой проект</span>
        </button>
      </div>

      <div class="table-content" data-simplebar>
        <table class="table">
          <tbody>
            <tr>
              <th>Название</th>
              <th>Звукоизоляция, Дб</th>
              <th>Толщина, мм</th>
              <th>Вес,кг/м²</th>
              <th>| ролик</th>
              <th>Стандарт, мм</th>
              <th>Макс, мм</th>
              <th>Стандарт, мм</th>
              <th>Макс, мм</th>
              <th>ЛДСП EGGER</th>
              <th>Маркерное</th>
              <th>Магнитно-маркерное</th>
              <th>Шпон</th>
              <th>Стекло</th>
              <th>СМЛ по RAL</th>
            </tr>
            <tr>
              <td>NORMA Standart</td>
              <td>40</td>
              <td>83</td>
              <td>25</td>
              <td>Да</td>
              <td>900</td>
              <td>1020</td>
              <td>2800</td>
              <td>5900</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Нет</td>
            </tr>
            <tr>
              <td>NORMA Comfort</td>
              <td>43</td>
              <td>83</td>
              <td>32</td>
              <td>Да</td>
              <td>900</td>
              <td>1020</td>
              <td>2800</td>
              <td>5900</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Нет</td>
            </tr>
            <tr>
              <td>NORMA Prestige</td>
              <td>47</td>
              <td>83</td>
              <td>39</td>
              <td>Да</td>
              <td>900</td>
              <td>1020</td>
              <td>2800</td>
              <td>5900</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Да</td>
              <td>Нет</td>
            </tr>
            <tr>
              <td>NORMA Файер</td>
              <td>43</td>
              <td>83</td>
              <td>45</td>
              <td>Да</td>
              <td>900</td>
              <td>1020</td>
              <td>2800</td>
              <td>4000</td>
              <td>Нет</td>
              <td>Да</td>
              <td>Да</td>
              <td>Нет</td>
              <td>Нет</td>
              <td>Да</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="certificates container">
      <h2 class="certificates-title title-page">Сертификаты и чертежи</h2>
      <div class="certificates-items swiper">
        <div class="certificates-wrapper swiper-wrapper">
          <div class="certificates-item certificate swiper-slide">
            <picture>
              <source srcset="img/certificate.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate.png"
                class="image certificate-img"
                alt="Certificate"
              />
            </picture>
            <picture>
              <source srcset="img/certificate-inner.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate-inner.png"
                class="image certificate-img__inner"
                alt="Certificate"
              />
            </picture>
          </div>

          <div class="certificates-item certificate swiper-slide">
            <picture>
              <source srcset="img/certificate.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate.png"
                class="image certificate-img"
                alt="Certificate"
              />
            </picture>
            <picture>
              <source srcset="img/certificate-inner.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate-inner.png"
                class="image certificate-img__inner"
                alt="Certificate"
              />
            </picture>
          </div>

          <div class="certificates-item certificate swiper-slide">
            <picture>
              <source srcset="img/certificate.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate.png"
                class="image certificate-img"
                alt="Certificate"
              />
            </picture>
            <picture>
              <source srcset="img/certificate-inner.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate-inner.png"
                class="image certificate-img__inner"
                alt="Certificate"
              />
            </picture>
          </div>

          <div class="certificates-item certificate swiper-slide">
            <picture>
              <source srcset="img/certificate.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate.png"
                class="image certificate-img"
                alt="Certificate"
              />
            </picture>
            <picture>
              <source srcset="img/certificate-inner.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/certificate-inner.png"
                class="image certificate-img__inner"
                alt="Certificate"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
