// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family-GillSans: "GillSans", sans-serif;
  --font-family-Jost: "Jost", sans-serif;

  // colors
  --light-color: #ffffff;
  --gold-color: #c19047;
  --text-black: #161618;
  --bg-black: #272728;
  --gray-color: #868686;
}
